# Pharmacy Department

Includes PEH, GEH, MEH, MNH

In [1]:
import pandas as pd
import numpy as np

In [3]:
PEH = pd.read_csv('./PEH_CLEANED_Data.csv')
GEH = pd.read_csv('./GEH TTO TAT (cleaned).csv')
MEH = pd.read_csv('./MEH_CLEANED_Data.csv')
MNH = pd.read_csv('./MNH TTO TAT (cleaned).csv')

## Assigning 'Hospital' Name as indicator

In [12]:
#PEH
PEH['Hospital'] = 'PEH'

In [14]:
PEH.head()

,Date,Ward,Room,Case Number,Time TTO Received,Time (Meds Sent Down),Time TTO Checked,Time (Counselled),Remarks,Checked By (Pharmacist),...,Bedside Counselling Candidate,Dispensed by,PML given?,"If not given, WHY?! If given, were any interventions needed?",Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,2021-03-15,4A,4825,302100869,13:50:00,NaN,13:53:00,NaN,,CHAR,...,No,NaN,NaN,NaN,Monday,13:53:00,3.0,Yes,Yes,PEH
1,2021-11-05,4B,4606,302101606,08:35:00,NaN,08:49:00,09:00:00,Please help fill in PML Data,YSM,...,Yes,AT,No,MR not complete,Friday,09:00:00,25.0,Yes,Yes,PEH
2,2021-08-26,3A,3841,302102993,12:32:00,NaN,12:39:00,NaN,,LLY,...,,NaN,NaN,NaN,Thursday,12:39:00,7.0,Yes,Yes,PEH
3,2021-03-10,3A,3838,302103523,11:37:00,NaN,11:43:00,NaN,,TFP,...,,NaN,NaN,NaN,Wednesday,11:43:00,6.0,Yes,Yes,PEH
4,2021-10-16,3B,3616,302103680,09:19:00,NaN,09:39:00,NaN,,LLY,...,No,NaN,NaN,NaN,Saturday,09:39:00,20.0,Yes,Yes,PEH

In [15]:
PEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3246 entries, 0 to 3245
Data columns (total 23 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Date                                                          3245 non-null   object
 1   Ward                                                          3231 non-null   object
 2   Room                                                          3237 non-null   object
 3   Case Number                                                   3238 non-null   object
 4   Time TTO Received                                             3242 non-null   object
 5   Time (Meds Sent Down)                                         313 non-null    object
 6   Time TTO Checked                                              3243 non-null   object
 7   Time (Counselled)                                             993 non-null    object
 8   Remarks                                                       2414 non-null   object
 9   Checked By (Pharmacist)                                       3237 non-null   object
 10  Time Taken (Ready for Collection)                             3238 non-null   object
 11  Time Taken (to Counselling)                                   989 non-null    object
 12  No. of Drugs                                                  985 non-null    object
 13  Bedside Counselling Candidate                                 3246 non-null   object
 14  Dispensed by                                                  990 non-null    object
 15  PML given?                                                    563 non-null    object
 16  If not given, WHY?! If given, were any interventions needed?  268 non-null    object
 17  Weekday                                                       3245 non-null   object
 18  Time TTO Dispensed                                            3243 non-null   object
 19  Overall Time Taken (mins)                                     3240 non-null   float64
 20  Meet KPI                                                      3240 non-null   object
 21  Office Hours                                                  3241 non-null   object
 22  Hospital                                                      3246 non-null   object
dtypes: float64(1), object(22)
memory usage: 583.4+ KB

In [16]:
#GEH
GEH['Hospital'] = 'GEH'

In [17]:
GEH.head()

,Date,Case Number,Room Number,Ward,TTO Type,No. of Drugs,Time TTO Received,Time TTO Checked,Checked by,Time TTO Reached,Time TTO Counselled,Counselled by,Remarks,Weekday,Overall Time Taken (mins),Meet KPI,Hospital
0,2021-04-01,1.021023e+09,957,9W,SCM,2,08:59:00,09:04:00,LET,09:29:00,09:35:00,LET,NaN,Thursday,30.0,Yes,GEH
1,2021-04-01,1.021023e+09,509,5E,SCM,3,09:05:00,09:26:00,LET,09:29:00,09:32:00,ELISE,NaN,Thursday,24.0,Yes,GEH
2,2021-04-01,1.021023e+09,508,5E,SCM,4,09:07:00,09:19:00,LET,09:32:00,10:17:00,ELISE,P,Thursday,25.0,Yes,GEH
3,2021-04-01,1.021023e+09,932,9E,SCM,2,09:11:00,09:22:00,ELISE,09:37:00,09:40:00,LET,NaN,Thursday,26.0,Yes,GEH
4,2021-04-01,1.021023e+09,909,9E,SCM,5,09:36:00,10:02:00,ELISE,10:21:00,10:25:00,ELISE,NaN,Thursday,45.0,Yes,GEH

In [18]:
GEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       2803 non-null   object
 1   Case Number                2803 non-null   float64
 2   Room Number                2803 non-null   object
 3   Ward                       491 non-null    object
 4   TTO Type                   2794 non-null   object
 5   No. of Drugs               2800 non-null   object
 6   Time TTO Received          2803 non-null   object
 7   Time TTO Checked           2779 non-null   object
 8   Checked by                 466 non-null    object
 9   Time TTO Reached           2742 non-null   object
 10  Time TTO Counselled        2699 non-null   object
 11  Counselled by              420 non-null    object
 12  Remarks                    572 non-null    object
 13  Weekday                    2803 non-null   object
 14  Overall Time Taken (mins)  2392 non-null   float64
 15  Meet KPI                   2395 non-null   object
 16  Hospital                   2803 non-null   object
dtypes: float64(2), object(15)
memory usage: 372.4+ KB

In [19]:
#MEH
MEH['Hospital'] = 'MEH'

In [20]:
MEH.head()

,Time TTO Checked,Time (Dispensed),Time (Dispensing),Time TTO Received,Ward,Case Number,Time (in Pharmacy),Time (in Pigeon),Time (Dispensed by Nurse),Time (Passed to Nurse),Date,Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,08:25:00,08:46:00,08:45:00,08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN,2021-04-01,Thursday,08:46:00,44.0,Yes,No,MEH
1,08:29:00,08:56:00,08:46:00,08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN,2021-04-01,Thursday,08:56:00,28.0,Yes,No,MEH
2,09:02:00,09:42:00,09:05:00,08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN,2021-04-01,Thursday,09:42:00,58.0,No,Yes,MEH
3,08:54:00,11:09:00,11:08:00,08:45:00,4A,2021026492-a1686aa,09:42:00,NaN,NaN,NaN,2021-04-01,Thursday,11:09:00,10.0,Yes,Yes,MEH
4,09:01:00,NaN,NaN,08:48:00,Dayward,2021029372-898d040,NaN,09:02:00,NaN,NaN,2021-04-01,Thursday,09:01:00,13.0,Yes,Yes,MEH

In [21]:
MEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time TTO Checked           11570 non-null  object
 1   Time (Dispensed)           5955 non-null   object
 2   Time (Dispensing)          6149 non-null   object
 3   Time TTO Received          11635 non-null  object
 4   Ward                       11635 non-null  object
 5   Case Number                11635 non-null  object
 6   Time (in Pharmacy)         2233 non-null   object
 7   Time (in Pigeon)           5430 non-null   object
 8   Time (Dispensed by Nurse)  960 non-null    object
 9   Time (Passed to Nurse)     281 non-null    object
 10  Date                       11635 non-null  object
 11  Weekday                    11635 non-null  object
 12  Time TTO Dispensed         11541 non-null  object
 13  Overall Time Taken (mins)  11066 non-null  float64
 14  Meet KPI                   11066 non-null  object
 15  Office Hours               11541 non-null  object
 16  Hospital                   11635 non-null  object
dtypes: float64(1), object(16)
memory usage: 1.5+ MB

In [22]:
#MNH
MNH['Hospital'] = 'MNH'

In [23]:
MNH.head()

,Date,Bed Number,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO Received,Time TTO Packing,Time TTO Dispensed,20 min and below,Between 20 to 30 min,30min and below,More than 30 min,Weekday,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,2021-01-01,905,4020095917,4.0,NaN,PBH,0:12,08:28:00,NaN,08:40:00,1,0,1,0,Friday,12.0,Yes,Yes,MNH
1,2021-01-01,1202,4020097017,8.0,wait for 2nd rx,PBH,NaN,09:04:00,08:50:00,NaN,0,0,0,0,Friday,NaN,NaN,NaN,MNH
2,2021-01-01,1224,4020095632,1.0,NaN,0:04,0:19,09:01:00,09:05:00,09:20:00,1,0,1,0,Friday,19.0,Yes,Yes,MNH
3,2021-01-01,818,4020097033,1.0,NaN,0:01,0:15,09:00:00,09:01:00,09:15:00,1,0,1,0,Friday,15.0,Yes,Yes,MNH
4,2021-01-01,803,4020097026,1.0,"can close, added on metformin and glipizide. 1...",0:07,1:19,09:08:00,09:15:00,10:27:00,0,0,0,1,Friday,79.0,No,Yes,MNH

In [24]:
MNH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15513 entries, 0 to 15512
Data columns (total 19 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15513 non-null  object
 1   Bed Number                                          15504 non-null  object
 2   Case Number                                         15508 non-null  object
 3   No. of Drugs                                        15511 non-null  float64
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15475 non-null  object
 6   Time Taken to Reach Pt (mins)                       15503 non-null  object
 7   Time TTO Received                                   15513 non-null  object
 8   Time TTO Packing                                    11623 non-null  object
 9   Time TTO Dispensed                                  15503 non-null  object
 10  20 min and below                                    15513 non-null  int64
 11  Between 20 to 30 min                                15513 non-null  int64
 12  30min and below                                     15513 non-null  int64
 13  More than 30 min                                    15513 non-null  int64
 14  Weekday                                             15513 non-null  object
 15  Overall Time Taken (mins)                           15503 non-null  float64
 16  Meet KPI                                            15434 non-null  object
 17  Office Hours                                        15503 non-null  object
 18  Hospital                                            15513 non-null  object
dtypes: float64(2), int64(4), object(13)
memory usage: 2.2+ MB

## Merge ALL relevant CSV(s)

In [26]:
pd.set_option('display.max_columns', None)

In [28]:
df = pd.concat([PEH,GEH,MEH,MNH], ignore_index=True)

df

,Date,Ward,Room,Case Number,Time TTO Received,Time (Meds Sent Down),Time TTO Checked,Time (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML given?,"If not given, WHY?! If given, were any interventions needed?",Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital,Room Number,TTO Type,Checked by,Time TTO Reached,Time TTO Counselled,Counselled by,Time (Dispensed),Time (Dispensing),Time (in Pharmacy),Time (in Pigeon),Time (Dispensed by Nurse),Time (Passed to Nurse),Bed Number,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO Packing,20 min and below,Between 20 to 30 min,30min and below,More than 30 min
0,2021-03-15,4A,4825,302100869,13:50:00,NaN,13:53:00,NaN,,CHAR,00:03:00,NaN,NaN,No,NaN,NaN,NaN,Monday,13:53:00,3.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-05,4B,4606,302101606,08:35:00,NaN,08:49:00,09:00:00,Please help fill in PML Data,YSM,00:14:00,00:25:00,3,Yes,AT,No,MR not complete,Friday,09:00:00,25.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-08-26,3A,3841,302102993,12:32:00,NaN,12:39:00,NaN,,LLY,00:07:00,NaN,NaN,,NaN,NaN,NaN,Thursday,12:39:00,7.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-03-10,3A,3838,302103523,11:37:00,NaN,11:43:00,NaN,,TFP,00:06:00,NaN,NaN,,NaN,NaN,NaN,Wednesday,11:43:00,6.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-16,3B,3616,302103680,09:19:00,NaN,09:39:00,NaN,,LLY,00:20:00,NaN,NaN,No,NaN,NaN,NaN,Saturday,09:39:00,20.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33192,2021-12-31,NaN,NaN,4021107656,13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Friday,13:10:00,10.0,Yes,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,824,add on TTO,0:00,0:10,13:00:00,1.0,0.0,1.0,0.0
33193,2021-12-31,NaN,NaN,4021107518,13:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Friday,13:47:00,12.0,Yes,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205,NaN,PBH,0:12,NaN,1.0,0.0,1.0,0.0
33194,2021-12-31,NaN,NaN,4021107644,14:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,Friday,14:34:00,26.0,No,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1131,NaN,0:09,0:26,14:17:00,0.0,1.0,1.0,0.0
33195,2021-12-31,NaN,NaN,4021108689,13:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,Friday,14:41:00,42.0,No,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,622,1431 pt in bathroom,0:10,0:42,14:09:00,0.0,0.0,0.0,1.0
33196,2021-12-31,NaN,NaN,4021108267,16:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,Friday,16:45:00,25.0,Yes,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,609,NaN,0:05,0:25,16:25:00,0.0,1.0,1.0,0.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33197 entries, 0 to 33196
Data columns (total 44 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Date                                                          33196 non-null  object
 1   Ward                                                          15357 non-null  object
 2   Room                                                          3237 non-null   object
 3   Case Number                                                   33184 non-null  object
 4   Time TTO Received                                             33193 non-null  object
 5   Time (Meds Sent Down)                                         313 non-null    object
 6   Time TTO Checked                                              17592 non-null  object
 7   Time (Counselled)                                             993 non-null    object
 8   Remarks                                                       2986 non-null   object
 9   Checked By (Pharmacist)                                       3237 non-null   object
 10  Time Taken (Ready for Collection)                             3238 non-null   object
 11  Time Taken (to Counselling)                                   989 non-null    object
 12  No. of Drugs                                                  19296 non-null  object
 13  Bedside Counselling Candidate                                 3246 non-null   object
 14  Dispensed by                                                  990 non-null    object
 15  PML given?                                                    563 non-null    object
 16  If not given, WHY?! If given, were any interventions needed?  268 non-null    object
 17  Weekday                                                       33196 non-null  object
 18  Time TTO Dispensed                                            30287 non-null  object
 19  Overall Time Taken (mins)                                     32201 non-null  float64
 20  Meet KPI                                                      32135 non-null  object
 21  Office Hours                                                  30285 non-null  object
 22  Hospital                                                      33197 non-null  object
 23  Room Number                                                   2803 non-null   object
 24  TTO Type                                                      2794 non-null   object
 25  Checked by                                                    466 non-null    object
 26  Time TTO Reached                                              2742 non-null   object
 27  Time TTO Counselled                                           2699 non-null   object
 28  Counselled by                                                 420 non-null    object
 29  Time (Dispensed)                                              5955 non-null   object
 30  Time (Dispensing)                                             6149 non-null   object
 31  Time (in Pharmacy)                                            2233 non-null   object
 32  Time (in Pigeon)                                              5430 non-null   object
 33  Time (Dispensed by Nurse)                                     960 non-null    object
 34  Time (Passed to Nurse)                                        281 non-null    object
 35  Bed Number                                                    15504 non-null  object
 36  Comments (for delayed cases) (eg. Pt sleeping etc)            3854 non-null   object
 37  Time Taken To Pack (mins)                                     15475 non-null  object
 38  Time Taken to Reach Pt (mins)                                 15503 non-null  object
 39  Time TTO Packing                                              11623 non-null  object
 40  20 min and below                                              15513 non-null  float64
 41  Between 20 to 30 min                                          15513 non-null  float64
 42  30min and below                                               15513 non-null  float64
 43  More than 30 min                                              15513 non-null  float64
dtypes: float64(5), object(39)
memory usage: 11.1+ MB

In [36]:
df[df['Date'].isnull()]

,Date,Ward,Room,Case Number,Time TTO Received,Time (Meds Sent Down),Time TTO Checked,Time (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML given?,"If not given, WHY?! If given, were any interventions needed?",Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital,Room Number,TTO Type,Checked by,Time TTO Reached,Time TTO Counselled,Counselled by,Time (Dispensed),Time (Dispensing),Time (in Pharmacy),Time (in Pigeon),Time (Dispensed by Nurse),Time (Passed to Nurse),Bed Number,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO Packing,20 min and below,Between 20 to 30 min,30min and below,More than 30 min
2190,NaN,4B,4609,3021031272,10:01:00,NaN,10:15:00,10:25:00,Please help fill in PML Data,SSM,00:14:00,00:24:00,3,Yes,AT,YES,NO,NaN,10:25:00,24.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.isnull().sum()

Date                                                                1
Ward                                                            17840
Room                                                            29960
Case Number                                                        13
Time TTO Received                                                   4
Time (Meds Sent Down)                                           32884
Time TTO Checked                                                15605
Time (Counselled)                                               32204
Remarks                                                         30211
Checked By (Pharmacist)                                         29960
Time Taken (Ready for Collection)                               29959
Time Taken (to Counselling)                                     32208
No. of Drugs                                                    13901
Bedside Counselling Candidate                                   29951
Dispensed by                                                    32207
PML given?                                                      32634
If not given, WHY?! If given, were any interventions needed?    32929
Weekday                                                             1
Time TTO Dispensed                                               2910
Overall Time Taken (mins)                                         996
Meet KPI                                                         1062
Office Hours                                                     2912
Hospital                                                            0
Room Number                                                     30394
TTO Type                                                        30403
Checked by                                                      32731
Time TTO Reached                                                30455
Time TTO Counselled                                             30498
Counselled by                                                   32777
Time (Dispensed)                                                27242
Time (Dispensing)                                               27048
Time (in Pharmacy)                                              30964
Time (in Pigeon)                                                27767
Time (Dispensed by Nurse)                                       32237
Time (Passed to Nurse)                                          32916
Bed Number                                                      17693
Comments (for delayed cases) (eg. Pt sleeping etc)              29343
Time Taken To Pack (mins)                                       17722
Time Taken to Reach Pt (mins)                                   17694
Time TTO Packing                                                21574
20 min and below                                                17684
Between 20 to 30 min                                            17684
30min and below                                                 17684
More than 30 min                                                17684
dtype: int64