In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../MNH TTO Data/MNH TTO Data - MERGED.csv')

In [3]:
df

,Date,Bed no.,Case no.,Can close,No. of drugs,Time TTO received (24 hr format) (eg 1340),Timing of Packing (24 hr format / PBH) (eg 1340 / PBH),Timing of Dispensing (24 hr format),Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),...,Timing of Dispensing,20 min and below,Between 20 to 30 min,30min and below,More than 30 min,Weekday,Weekday Count,Weekend,Weekend Count,NOT Ward 9
0,01-01-21,905,4020095917,839,4,828,pbh,840,NaN,PBH,...,8:40 AM,1,0,1,0,TRUE,1,FALSE,0,0
1,01-01-21,1202,4020097017,934,8,904,850,NaN,wait for 2nd rx,##############################################...,...,#VALUE!,0,0,0,0,TRUE,1,FALSE,0,1
2,01-01-21,1224,4020095632,934,1,901,905,920,NaN,0:04,...,9:20 AM,1,0,1,0,TRUE,1,FALSE,0,1
3,01-01-21,818,4020097033,934,1,900,901,915,NaN,0:01,...,9:15 AM,1,0,1,0,TRUE,1,FALSE,0,1
4,01-01-21,803,4020097026,1029,1,908,915,1027,"can close, added on metformin and glipizide. 1...",0:07,...,10:27 AM,0,0,0,1,TRUE,1,FALSE,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15517,31-12-21,824,4021107656,1311,1,1300,1300,1310,add on TTO,0:00,...,1:10 PM,1,0,1,0,TRUE,1,FALSE,0,1
15518,31-12-21,1205,4021107518,1351,1,1335,pbh,1347,NaN,PBH,...,1:47 PM,1,0,1,0,TRUE,1,FALSE,0,1
15519,31-12-21,1131,4021107644,1426,3,1408,1417,1434,NaN,0:09,...,2:34 PM,0,1,1,0,TRUE,1,FALSE,0,1
15520,31-12-21,622,4021108689,1446,2,1359,1409,1441,1431 pt in bathroom,0:10,...,2:41 PM,0,0,0,1,TRUE,1,FALSE,0,1
15521,31-12-21,609,4021108267,1651,4,1620,1625,1645,NaN,0:05,...,4:45 PM,0,1,1,0,TRUE,1,FALSE,0,1

In [4]:
df.drop(['Can close'], axis=1, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15522 entries, 0 to 15521
Data columns (total 22 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Date                                                    15522 non-null  object
 1   Bed no.                                                 15512 non-null  object
 2   Case no.                                                15516 non-null  object
 3   No. of drugs                                            15520 non-null  object
 4   Time TTO received (24 hr format) (eg 1340)              15518 non-null  object
 5   Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)  15509 non-null  object
 6   Timing of Dispensing (24 hr format)                     15512 non-null  object
 7   Comments (for delayed cases) (eg. Pt sleeping etc)      3862 non-null   object
 8   Time Taken To Pack (mins)                               15521 non-null  object
 9   Time Taken to Reach Pt (mins)                           15522 non-null  object
 10  Time TTO received                                       15522 non-null  object
 11  Timing of packing                                       15522 non-null  object
 12  Timing of Dispensing                                    15522 non-null  object
 13  20 min and below                                        15522 non-null  int64
 14  Between 20 to 30 min                                    15522 non-null  int64
 15  30min and below                                         15522 non-null  int64
 16  More than 30 min                                        15522 non-null  int64
 17  Weekday                                                 15522 non-null  object
 18  Weekday Count                                           15522 non-null  int64
 19  Weekend                                                 15522 non-null  object
 20  Weekend Count                                           15522 non-null  int64
 21  NOT Ward 9                                              15522 non-null  int64
dtypes: int64(7), object(15)
memory usage: 2.6+ MB

In [6]:
df.drop(df.iloc[:, 13:22], inplace = True, axis = 1)

# Handle missing values

In [7]:
df.notnull().sum()

Date                                                      15522
Bed no.                                                   15512
Case no.                                                  15516
No. of drugs                                              15520
Time TTO received (24 hr format) (eg 1340)                15518
Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)    15509
Timing of Dispensing (24 hr format)                       15512
Comments (for delayed cases) (eg. Pt sleeping etc)         3862
Time Taken To Pack (mins)                                 15521
Time Taken to Reach Pt (mins)                             15522
Time TTO received                                         15522
Timing of packing                                         15522
Timing of Dispensing                                      15522
dtype: int64

In [8]:
df.isnull().sum()

Date                                                          0
Bed no.                                                      10
Case no.                                                      6
No. of drugs                                                  2
Time TTO received (24 hr format) (eg 1340)                    4
Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)       13
Timing of Dispensing (24 hr format)                          10
Comments (for delayed cases) (eg. Pt sleeping etc)        11660
Time Taken To Pack (mins)                                     1
Time Taken to Reach Pt (mins)                                 0
Time TTO received                                             0
Timing of packing                                             0
Timing of Dispensing                                          0
dtype: int64

In [9]:
#drop rows with missing bed number, case number, no. of drugs
#nan_values = df[df['Time TTO received (24 hr format) (eg 1340)'].isna()]
#nan_values
#null_data = df[df.isnull().any(axis=1)]
#null_data
df = df.dropna(subset=['Bed no.', 'Case no.', 'Time TTO received (24 hr format) (eg 1340)', 
                       'Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)',
                      'Timing of Dispensing (24 hr format)'])
df.isnull().sum()

#no need to handle missing values for comments since they can leave comments or not

Date                                                          0
Bed no.                                                       0
Case no.                                                      0
No. of drugs                                                  0
Time TTO received (24 hr format) (eg 1340)                    0
Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)        0
Timing of Dispensing (24 hr format)                           0
Comments (for delayed cases) (eg. Pt sleeping etc)        11641
Time Taken To Pack (mins)                                     1
Time Taken to Reach Pt (mins)                                 0
Time TTO received                                             0
Timing of packing                                             0
Timing of Dispensing                                          0
dtype: int64

In [11]:
df.head()

,Date,Bed no.,Case no.,No. of drugs,Time TTO received (24 hr format) (eg 1340),Timing of Packing (24 hr format / PBH) (eg 1340 / PBH),Timing of Dispensing (24 hr format),Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO received,Timing of packing,Timing of Dispensing
0,01-01-21,905,4020095917,4,828,pbh,840,NaN,PBH,0:12,8:28 AM,PBH,8:40 AM
2,01-01-21,1224,4020095632,1,901,905,920,NaN,0:04,0:19,9:01 AM,9:05 AM,9:20 AM
3,01-01-21,818,4020097033,1,900,901,915,NaN,0:01,0:15,9:00 AM,9:01 AM,9:15 AM
4,01-01-21,803,4020097026,1,908,915,1027,"can close, added on metformin and glipizide. 1...",0:07,1:19,9:08 AM,9:15 AM,10:27 AM
5,01-01-21,1229,4020096397,3,920,925,1005,NaN,0:05,0:45,9:20 AM,9:25 AM,10:05 AM

In [16]:
df['Time TTO received'] = pd.to_datetime(df['Time TTO received'].str.strip(), format='%I:%M %p', infer_datetime_format=True).dt.strftime('%H:%M')

ParserError: Unknown string format: #VALUE!

In [ ]:
s = '11:05:45AM'
result = timeConversion(s)
print(result)