# Pharmacy Department

Includes PEH, GEH, MEH, MNH

In [3]:
import pandas as pd
import numpy as np

In [4]:
PEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/PEH_Data_Cleaned.csv')
GEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/GEH_Data_Cleaned.csv')
MEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MEH_Data_Cleaned.csv')
MNH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MNH_Data_Cleaned.csv')

## Assigning 'Hospital' Name as indicator

In [5]:
#PEH
PEH['Hospital'] = 'PEH'

In [6]:
PEH.head()

,Date,Ward,Room,Case Number,Time TTO Received,Time (Meds Sent Down),Time TTO Checked,Time (Counselled),Remarks,Checked By (Pharmacist),...,Bedside Counselling Candidate,Dispensed by,PML given?,"If not given, WHY?! If given, were any interventions needed?",Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,2021-01-04,4A,4811.0,3021000132.0,09:52:00,NaN,10:00:00,10:10:00,NaN,TFP,...,Yes,TFP,NaN,NaN,Monday,10:10:00,18.0,Yes,Yes,PEH
1,2021-01-04,3A,3828.0,3020041950.0,08:34:00,NaN,08:44:00,NaN,NaN,TFP,...,,NaN,NaN,NaN,Monday,08:44:00,10.0,Yes,Yes,PEH
2,2021-01-04,3B,3606.0,3021000166.0,09:15:00,09:40:00,09:50:00,09:55:00,NaN,TFP,...,Yes,TFP,NaN,NaN,Monday,09:55:00,15.0,Yes,Yes,PEH
3,2021-01-04,DAY,2011.0,3021000242.0,10:09:00,NaN,10:20:00,NaN,NaN,TFP,...,,NaN,NaN,NaN,Monday,10:20:00,11.0,Yes,Yes,PEH
4,2021-01-04,4B,4610.0,3020044361.0,08:37:00,NaN,08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,...,No,NaN,NaN,NaN,Monday,08:47:00,10.0,Yes,Yes,PEH

In [7]:
PEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252 entries, 0 to 3251
Data columns (total 23 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Date                                                          3252 non-null   object
 1   Ward                                                          3237 non-null   object
 2   Room                                                          3243 non-null   object
 3   Case Number                                                   3252 non-null   object
 4   Time TTO Received                                             3248 non-null   object
 5   Time (Meds Sent Down)                                         318 non-null    object
 6   Time TTO Checked                                              3249 non-null   object
 7   Time (Counselled)                                             996 non-null    object
 8   Remarks                                                       2420 non-null   object
 9   Checked By (Pharmacist)                                       3243 non-null   object
 10  Time Taken (Ready for Collection)                             3244 non-null   object
 11  Time Taken (to Counselling)                                   992 non-null    object
 12  No. of Drugs                                                  988 non-null    object
 13  Bedside Counselling Candidate                                 3252 non-null   object
 14  Dispensed by                                                  993 non-null    object
 15  PML given?                                                    563 non-null    object
 16  If not given, WHY?! If given, were any interventions needed?  268 non-null    object
 17  Weekday                                                       3252 non-null   object
 18  Time TTO Dispensed                                            3249 non-null   object
 19  Overall Time Taken (mins)                                     3246 non-null   float64
 20  Meet KPI                                                      3246 non-null   object
 21  Office Hours                                                  3247 non-null   object
 22  Hospital                                                      3252 non-null   object
dtypes: float64(1), object(22)
memory usage: 584.5+ KB

In [8]:
#GEH
GEH['Hospital'] = 'GEH'

In [9]:
GEH.head()

,Date,Case Number,Room Number,Ward,TTO Type,No. of Drugs,Time TTO Received,Time TTO Checked,Checked by,Time to meet,...,Time TTO Counselled,Counselled by,Remarks,Limo Service,Weekday,TTO Last Timestamp,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,2021-04-01,1.021023e+09,957,9W,SCM,2,08:59:00,09:04:00,LET,09:44:00,...,09:35:00,LET,NaN,NaN,Thursday,09:35:00,36.0,Yes,Yes,GEH
1,2021-04-01,1.021023e+09,509,5E,SCM,3,09:05:00,09:26:00,LET,09:50:00,...,09:32:00,ELISE,NaN,NaN,Thursday,09:32:00,27.0,Yes,Yes,GEH
2,2021-04-01,1.021023e+09,508,5E,SCM,4,09:07:00,09:19:00,LET,09:52:00,...,10:17:00,ELISE,P,NaN,Thursday,10:17:00,70.0,No,Yes,GEH
3,2021-04-01,1.021023e+09,932,9E,SCM,2,09:11:00,09:22:00,ELISE,09:56:00,...,09:40:00,LET,NaN,NaN,Thursday,09:40:00,29.0,Yes,Yes,GEH
4,2021-04-01,1.021023e+09,909,9E,SCM,5,09:36:00,10:02:00,ELISE,10:21:00,...,10:25:00,ELISE,NaN,NaN,Thursday,10:25:00,49.0,No,Yes,GEH

In [10]:
GEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       2803 non-null   object
 1   Case Number                2803 non-null   float64
 2   Room Number                2803 non-null   object
 3   Ward                       491 non-null    object
 4   TTO Type                   2794 non-null   object
 5   No. of Drugs               2800 non-null   object
 6   Time TTO Received          2774 non-null   object
 7   Time TTO Checked           2779 non-null   object
 8   Checked by                 466 non-null    object
 9   Time to meet               491 non-null    object
 10  Time TTO Reached           2399 non-null   object
 11  Time TTO Counselled        2055 non-null   object
 12  Counselled by              420 non-null    object
 13  Remarks                    572 non-null    object
 14  Limo Service               1 non-null      object
 15  Weekday                    2803 non-null   object
 16  TTO Last Timestamp         2403 non-null   object
 17  Overall Time Taken (mins)  2396 non-null   float64
 18  Meet KPI                   2365 non-null   object
 19  Office Hours               2396 non-null   object
 20  Hospital                   2803 non-null   object
dtypes: float64(2), object(19)
memory usage: 460.0+ KB

In [11]:
#MEH
MEH['Hospital'] = 'MEH'

In [12]:
MEH.head()

,Time TTO Checked,Time (Dispensed),Time (Dispensing),Time TTO Received,Ward,Case Number,Time (in Pharmacy),Time (in Pigeon),Time (Dispensed by Nurse),Time (Passed to Nurse),Date,Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,08:25:00,08:46:00,08:45:00,08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN,2021-04-01,Thursday,08:46:00,44.0,Yes,No,MEH
1,08:29:00,08:56:00,08:46:00,08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN,2021-04-01,Thursday,08:56:00,28.0,Yes,No,MEH
2,09:02:00,09:42:00,09:05:00,08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN,2021-04-01,Thursday,09:42:00,58.0,No,Yes,MEH
3,08:54:00,11:09:00,11:08:00,08:45:00,4A,2021026492-a1686aa,09:42:00,NaN,NaN,NaN,2021-04-01,Thursday,11:09:00,10.0,Yes,Yes,MEH
4,09:01:00,NaN,NaN,08:48:00,Dayward,2021029372-898d040,NaN,09:02:00,NaN,NaN,2021-04-01,Thursday,09:01:00,13.0,Yes,Yes,MEH

In [13]:
MEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time TTO Checked           11570 non-null  object
 1   Time (Dispensed)           5955 non-null   object
 2   Time (Dispensing)          6149 non-null   object
 3   Time TTO Received          11635 non-null  object
 4   Ward                       11635 non-null  object
 5   Case Number                11635 non-null  object
 6   Time (in Pharmacy)         2233 non-null   object
 7   Time (in Pigeon)           5430 non-null   object
 8   Time (Dispensed by Nurse)  960 non-null    object
 9   Time (Passed to Nurse)     281 non-null    object
 10  Date                       11635 non-null  object
 11  Weekday                    11635 non-null  object
 12  Time TTO Dispensed         11541 non-null  object
 13  Overall Time Taken (mins)  11066 non-null  float64
 14  Meet KPI                   11066 non-null  object
 15  Office Hours               11541 non-null  object
 16  Hospital                   11635 non-null  object
dtypes: float64(1), object(16)
memory usage: 1.5+ MB

In [14]:
#MNH
MNH['Hospital'] = 'MNH'

In [15]:
MNH.head()

,Date,Ward,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO Received,Time TTO Packing,Time TTO Dispensed,Weekday,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital
0,2021-01-01,905,4020095917,4.0,NaN,PBH,0:12,08:28:00,NaN,08:40:00,Friday,12.0,Yes,Yes,MNH
1,2021-01-01,1202,4020097017,8.0,wait for 2nd rx,PBH,NaN,09:04:00,08:50:00,NaN,Friday,NaN,NaN,NaN,MNH
2,2021-01-01,1224,4020095632,1.0,NaN,0:04,0:19,09:01:00,09:05:00,09:20:00,Friday,19.0,Yes,Yes,MNH
3,2021-01-01,818,4020097033,1.0,NaN,0:01,0:15,09:00:00,09:01:00,09:15:00,Friday,15.0,Yes,Yes,MNH
4,2021-01-01,803,4020097026,1.0,"can close, added on metformin and glipizide. 1...",0:07,1:19,09:08:00,09:15:00,10:27:00,Friday,79.0,No,Yes,MNH

In [16]:
MNH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15513 entries, 0 to 15512
Data columns (total 15 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15513 non-null  object
 1   Ward                                                15504 non-null  object
 2   Case Number                                         15513 non-null  object
 3   No. of Drugs                                        15511 non-null  float64
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15475 non-null  object
 6   Time Taken to Reach Pt (mins)                       15503 non-null  object
 7   Time TTO Received                                   15513 non-null  object
 8   Time TTO Packing                                    11623 non-null  object
 9   Time TTO Dispensed                                  15503 non-null  object
 10  Weekday                                             15513 non-null  object
 11  Overall Time Taken (mins)                           15503 non-null  float64
 12  Meet KPI                                            15434 non-null  object
 13  Office Hours                                        15503 non-null  object
 14  Hospital                                            15513 non-null  object
dtypes: float64(2), object(13)
memory usage: 1.8+ MB

## Merge ALL relevant CSV(s)

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
df = pd.concat([PEH,GEH,MEH,MNH], ignore_index=True)

df

,Date,Ward,Room,Case Number,Time TTO Received,Time (Meds Sent Down),Time TTO Checked,Time (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML given?,"If not given, WHY?! If given, were any interventions needed?",Weekday,Time TTO Dispensed,Overall Time Taken (mins),Meet KPI,Office Hours,Hospital,Room Number,TTO Type,Checked by,Time to meet,Time TTO Reached,Time TTO Counselled,Counselled by,Limo Service,TTO Last Timestamp,Time (Dispensed),Time (Dispensing),Time (in Pharmacy),Time (in Pigeon),Time (Dispensed by Nurse),Time (Passed to Nurse),Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO Packing
0,2021-01-04,4A,4811.0,3021000132.0,09:52:00,NaN,10:00:00,10:10:00,NaN,TFP,00:08:00,00:18:00,3.0,Yes,TFP,NaN,NaN,Monday,10:10:00,18.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-04,3A,3828.0,3020041950.0,08:34:00,NaN,08:44:00,NaN,NaN,TFP,00:10:00,NaN,NaN,,NaN,NaN,NaN,Monday,08:44:00,10.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-04,3B,3606.0,3021000166.0,09:15:00,09:40:00,09:50:00,09:55:00,NaN,TFP,00:10:00,00:15:00,2.0,Yes,TFP,NaN,NaN,Monday,09:55:00,15.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,DAY,2011.0,3021000242.0,10:09:00,NaN,10:20:00,NaN,NaN,TFP,00:11:00,NaN,NaN,,NaN,NaN,NaN,Monday,10:20:00,11.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-04,4B,4610.0,3020044361.0,08:37:00,NaN,08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,08:47:00,10.0,Yes,Yes,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33198,2021-12-31,824,NaN,4021107656,13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Friday,13:10:00,10.0,Yes,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,add on TTO,0:00,0:10,13:00:00
33199,2021-12-31,1205,NaN,4021107518,13:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Friday,13:47:00,12.0,Yes,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PBH,0:12,NaN
33200,2021-12-31,1131,NaN,4021107644,14:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,Friday,14:34:00,26.0,No,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0:09,0:26,14:17:00
33201,2021-12-31,622,NaN,4021108689,13:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,Friday,14:41:00,42.0,No,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1431 pt in bathroom,0:10,0:42,14:09:00
33202,2021-12-31,609,NaN,4021108267,16:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,Friday,16:45:00,25.0,Yes,Yes,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0:05,0:25,16:25:00

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33203 entries, 0 to 33202
Data columns (total 42 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Date                                                          33203 non-null  object
 1   Ward                                                          30867 non-null  object
 2   Room                                                          3243 non-null   object
 3   Case Number                                                   33203 non-null  object
 4   Time TTO Received                                             33170 non-null  object
 5   Time (Meds Sent Down)                                         318 non-null    object
 6   Time TTO Checked                                              17598 non-null  object
 7   Time (Counselled)                                             996 non-null    object
 8   Remarks                                                       2992 non-null   object
 9   Checked By (Pharmacist)                                       3243 non-null   object
 10  Time Taken (Ready for Collection)                             3244 non-null   object
 11  Time Taken (to Counselling)                                   992 non-null    object
 12  No. of Drugs                                                  19299 non-null  object
 13  Bedside Counselling Candidate                                 3252 non-null   object
 14  Dispensed by                                                  993 non-null    object
 15  PML given?                                                    563 non-null    object
 16  If not given, WHY?! If given, were any interventions needed?  268 non-null    object
 17  Weekday                                                       33203 non-null  object
 18  Time TTO Dispensed                                            30293 non-null  object
 19  Overall Time Taken (mins)                                     32211 non-null  float64
 20  Meet KPI                                                      32111 non-null  object
 21  Office Hours                                                  32687 non-null  object
 22  Hospital                                                      33203 non-null  object
 23  Room Number                                                   2803 non-null   object
 24  TTO Type                                                      2794 non-null   object
 25  Checked by                                                    466 non-null    object
 26  Time to meet                                                  491 non-null    object
 27  Time TTO Reached                                              2399 non-null   object
 28  Time TTO Counselled                                           2055 non-null   object
 29  Counselled by                                                 420 non-null    object
 30  Limo Service                                                  1 non-null      object
 31  TTO Last Timestamp                                            2403 non-null   object
 32  Time (Dispensed)                                              5955 non-null   object
 33  Time (Dispensing)                                             6149 non-null   object
 34  Time (in Pharmacy)                                            2233 non-null   object
 35  Time (in Pigeon)                                              5430 non-null   object
 36  Time (Dispensed by Nurse)                                     960 non-null    object
 37  Time (Passed to Nurse)                                        281 non-null    object
 38  Comments (for delayed cases) (eg. Pt sleeping etc)            3854 non-null   object
 39  Time Taken To Pack (mins)                                     15475 non-null  object
 40  Time Taken to Reach Pt (mins)                                 15503 non-null  object
 41  Time TTO Packing                                              11623 non-null  object
dtypes: float64(1), object(41)
memory usage: 10.6+ MB

In [20]:
df[df['Date'].isnull()]

Empty DataFrame
Columns: [Date, Ward, Room, Case Number, Time TTO Received, Time (Meds Sent Down), Time TTO Checked, Time (Counselled), Remarks, Checked By (Pharmacist), Time Taken (Ready for Collection), Time Taken (to Counselling), No. of Drugs, Bedside Counselling Candidate, Dispensed by, PML given?, If not given, WHY?! If given, were any interventions needed?, Weekday, Time TTO Dispensed, Overall Time Taken (mins), Meet KPI, Office Hours, Hospital, Room Number, TTO Type, Checked by, Time to meet, Time TTO Reached, Time TTO Counselled, Counselled by, Limo Service, TTO Last Timestamp, Time (Dispensed), Time (Dispensing), Time (in Pharmacy), Time (in Pigeon), Time (Dispensed by Nurse), Time (Passed to Nurse), Comments (for delayed cases) (eg. Pt sleeping etc), Time Taken To Pack (mins), Time Taken to Reach Pt (mins), Time TTO Packing]
Index: []

In [21]:
df.isnull().sum()

Date                                                                0
Ward                                                             2336
Room                                                            29960
Case Number                                                         0
Time TTO Received                                                  33
Time (Meds Sent Down)                                           32885
Time TTO Checked                                                15605
Time (Counselled)                                               32207
Remarks                                                         30211
Checked By (Pharmacist)                                         29960
Time Taken (Ready for Collection)                               29959
Time Taken (to Counselling)                                     32211
No. of Drugs                                                    13904
Bedside Counselling Candidate                                   29951
Dispensed by                                                    32210
PML given?                                                      32640
If not given, WHY?! If given, were any interventions needed?    32935
Weekday                                                             0
Time TTO Dispensed                                               2910
Overall Time Taken (mins)                                         992
Meet KPI                                                         1092
Office Hours                                                      516
Hospital                                                            0
Room Number                                                     30400
TTO Type                                                        30409
Checked by                                                      32737
Time to meet                                                    32712
Time TTO Reached                                                30804
Time TTO Counselled                                             31148
Counselled by                                                   32783
Limo Service                                                    33202
TTO Last Timestamp                                              30800
Time (Dispensed)                                                27248
Time (Dispensing)                                               27054
Time (in Pharmacy)                                              30970
Time (in Pigeon)                                                27773
Time (Dispensed by Nurse)                                       32243
Time (Passed to Nurse)                                          32922
Comments (for delayed cases) (eg. Pt sleeping etc)              29349
Time Taken To Pack (mins)                                       17728
Time Taken to Reach Pt (mins)                                   17700
Time TTO Packing                                                21580
dtype: int64

## Export to CSV

In [22]:
#export to CSV
df.to_csv("../../Data/Pharmacy Dept/Data Cleaning/Merged_Pharmacy_Dept_CLEANED.csv", index=None, header=True)