# Pharmacy Department

Includes PEH, GEH, MEH, MNH

## Step 1: Import necessary packages

In [66]:
import pandas as pd
import numpy as np

## Step 2: Read all cleaned csv files

In [67]:
PEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/PEH_Data_Cleaned.csv')
GEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/GEH_Data_Cleaned.csv')
MEH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MEH_Data_Cleaned.csv')
MNH = pd.read_csv('../../Data/Pharmacy Dept/Data Cleaning/MNH_Data_Cleaned.csv')

## Step 3: Assigning 'Hospital' Name as indicator

In [68]:
#PEH
PEH['Hospital'] = 'PEH'

In [69]:
PEH.head()

,Date,Ward,Room/Bed,Case Number,DateTime TTO Received,DateTime (Meds Sent Down),DateTime TTO Checked,DateTime (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML,No PML Remarks,Weekday,DateTime TTO Dispensed,TAT,Meet KPI,Office Hours,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Hospital
0,2021-01-04,4A,4811.0,3021000132.0,2021-01-04 09:52:00,NaN,2021-01-04 10:00:00,2021-01-04 10:10:00,NaN,TFP,00:08:00,00:18:00,3.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 10:10:00,18.0,Yes,Yes,0 days 00:08:00.000000000,0 days 00:10:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH
1,2021-01-04,3A,3828.0,3020041950.0,2021-01-04 08:34:00,NaN,2021-01-04 08:44:00,NaN,NaN,TFP,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:44:00,10.0,Yes,Yes,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH
2,2021-01-04,3B,3606.0,3021000166.0,2021-01-04 09:15:00,2021-01-04 09:40:00,2021-01-04 09:50:00,2021-01-04 09:55:00,NaN,TFP,00:10:00,00:15:00,2.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 09:55:00,15.0,Yes,Yes,0 days 00:35:00.000000000,0 days 00:05:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH
3,2021-01-04,DAY,2011.0,3021000242.0,2021-01-04 10:09:00,NaN,2021-01-04 10:20:00,NaN,NaN,TFP,00:11:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 10:20:00,11.0,Yes,Yes,0 days 00:11:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH
4,2021-01-04,4B,4610.0,3020044361.0,2021-01-04 08:37:00,NaN,2021-01-04 08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:47:00,10.0,Yes,Yes,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH

In [70]:
PEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252 entries, 0 to 3251
Data columns (total 30 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           3252 non-null   object
 1   Ward                                           3238 non-null   object
 2   Room/Bed                                       3243 non-null   object
 3   Case Number                                    3252 non-null   object
 4   DateTime TTO Received                          3248 non-null   object
 5   DateTime (Meds Sent Down)                      318 non-null    object
 6   DateTime TTO Checked                           3249 non-null   object
 7   DateTime (Counselled)                          996 non-null    object
 8   Remarks                                        2420 non-null   object
 9   Checked By (Pharmacist)                        3243 non-null   object
 10  Time Taken (Ready for Collection)              3244 non-null   object
 11  Time Taken (to Counselling)                    992 non-null    object
 12  No. of Drugs                                   988 non-null    object
 13  Bedside Counselling Candidate                  3252 non-null   object
 14  Dispensed by                                   993 non-null    object
 15  PML                                            563 non-null    object
 16  No PML Remarks                                 268 non-null    object
 17  Weekday                                        3252 non-null   object
 18  DateTime TTO Dispensed                         3249 non-null   object
 19  TAT                                            3246 non-null   float64
 20  Meet KPI                                       3246 non-null   object
 21  Office Hours                                   3247 non-null   object
 22  Time Taken (Received to Checked)               3245 non-null   object
 23  Time Taken (Checked to Dispensed)              990 non-null    object
 24  Avg Time Taken / Day (Received to Checked)     3252 non-null   object
 25  Avg Time Taken / Day (Checked to Dispensed)    2811 non-null   object
 26  Month                                          3252 non-null   object
 27  Avg Time Taken / Month (Received to Checked)   3252 non-null   object
 28  Avg Time Taken / Month (Checked to Dispensed)  3252 non-null   object
 29  Hospital                                       3252 non-null   object
dtypes: float64(1), object(29)
memory usage: 762.3+ KB

In [71]:
#GEH
GEH['Hospital'] = 'GEH'

In [72]:
GEH.head()

,Date,Case Number,Room/Bed,TTO Type,No. of Drugs,DateTime TTO Received,DateTime TTO Checked,Checked by,Time to meet,DateTime TTO Dispensed,DateTime (Counselled),Counselled by,Remarks,Limo Service,Time Taken (Received to Checked),Weekday,Room_x,TAT,Meet KPI,Office Hours,Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Room_y,Ward,Hospital
0,2021-04-01 00:00:00,1.021023e+09,957,SCM,2,2021-04-01 08:59:00,2021-04-01 09:04:00,LET,09:44:00,2021-04-01 09:29:00,09:35:00,LET,NaN,NaN,0 days 00:05:00.000000000,Thursday,NaN,30.0,Yes,Yes,0 days 00:25:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,957.0,9W,GEH
1,2021-04-01 00:00:00,1.021023e+09,509,SCM,3,2021-04-01 09:05:00,2021-04-01 09:26:00,LET,09:50:00,2021-04-01 09:29:00,09:32:00,ELISE,NaN,NaN,0 days 00:21:00.000000000,Thursday,NaN,24.0,Yes,Yes,0 days 00:03:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,509.0,5E,GEH
2,2021-04-01 00:00:00,1.021023e+09,508,SCM,4,2021-04-01 09:07:00,2021-04-01 09:19:00,LET,09:52:00,2021-04-01 09:32:00,10:17:00,ELISE,P,NaN,0 days 00:12:00.000000000,Thursday,NaN,25.0,Yes,Yes,0 days 00:13:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,508.0,5E,GEH
3,2021-04-01 00:00:00,1.021023e+09,932,SCM,2,2021-04-01 09:11:00,2021-04-01 09:22:00,ELISE,09:56:00,2021-04-01 09:37:00,09:40:00,LET,NaN,NaN,0 days 00:11:00.000000000,Thursday,NaN,26.0,Yes,Yes,0 days 00:15:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,932.0,9E,GEH
4,2021-04-01 00:00:00,1.021023e+09,909,SCM,5,2021-04-01 09:36:00,2021-04-01 10:02:00,ELISE,10:21:00,2021-04-01 10:21:00,10:25:00,ELISE,NaN,NaN,0 days 00:26:00.000000000,Thursday,NaN,45.0,Yes,Yes,0 days 00:19:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,909.0,9E,GEH

In [73]:
GEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 29 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           2803 non-null   object
 1   Case Number                                    2803 non-null   float64
 2   Room/Bed                                       491 non-null    object
 3   TTO Type                                       2794 non-null   object
 4   No. of Drugs                                   2800 non-null   object
 5   DateTime TTO Received                          2774 non-null   object
 6   DateTime TTO Checked                           2581 non-null   object
 7   Checked by                                     466 non-null    object
 8   Time to meet                                   491 non-null    object
 9   DateTime TTO Dispensed                         2400 non-null   object
 10  DateTime (Counselled)                          387 non-null    object
 11  Counselled by                                  420 non-null    object
 12  Remarks                                        572 non-null    object
 13  Limo Service                                   1 non-null      object
 14  Time Taken (Received to Checked)               2574 non-null   object
 15  Weekday                                        2803 non-null   object
 16  Room_x                                         2312 non-null   object
 17  TAT                                            2393 non-null   float64
 18  Meet KPI                                       2334 non-null   object
 19  Office Hours                                   2393 non-null   object
 20  Time Taken (Checked to Dispensed)              2359 non-null   object
 21  Avg Time Taken / Day (Received to Checked)     2803 non-null   object
 22  Avg Time Taken / Day (Checked to Dispensed)    2803 non-null   object
 23  Month                                          2803 non-null   object
 24  Avg Time Taken / Month (Received to Checked)   2803 non-null   object
 25  Avg Time Taken / Month (Checked to Dispensed)  2803 non-null   object
 26  Room_y                                         490 non-null    float64
 27  Ward                                           491 non-null    object
 28  Hospital                                       2803 non-null   object
dtypes: float64(3), object(26)
memory usage: 635.2+ KB

In [74]:
#Change 'Date' Column to '%Y-%m-%d' 
GEH['Date'] = pd.to_datetime(GEH['Date']).dt.date
GEH

,Date,Case Number,Room/Bed,TTO Type,No. of Drugs,DateTime TTO Received,DateTime TTO Checked,Checked by,Time to meet,DateTime TTO Dispensed,DateTime (Counselled),Counselled by,Remarks,Limo Service,Time Taken (Received to Checked),Weekday,Room_x,TAT,Meet KPI,Office Hours,Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Room_y,Ward,Hospital
0,2021-04-01,1.021023e+09,957,SCM,2,2021-04-01 08:59:00,2021-04-01 09:04:00,LET,09:44:00,2021-04-01 09:29:00,09:35:00,LET,NaN,NaN,0 days 00:05:00.000000000,Thursday,NaN,30.0,Yes,Yes,0 days 00:25:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,957.0,9W,GEH
1,2021-04-01,1.021023e+09,509,SCM,3,2021-04-01 09:05:00,2021-04-01 09:26:00,LET,09:50:00,2021-04-01 09:29:00,09:32:00,ELISE,NaN,NaN,0 days 00:21:00.000000000,Thursday,NaN,24.0,Yes,Yes,0 days 00:03:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,509.0,5E,GEH
2,2021-04-01,1.021023e+09,508,SCM,4,2021-04-01 09:07:00,2021-04-01 09:19:00,LET,09:52:00,2021-04-01 09:32:00,10:17:00,ELISE,P,NaN,0 days 00:12:00.000000000,Thursday,NaN,25.0,Yes,Yes,0 days 00:13:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,508.0,5E,GEH
3,2021-04-01,1.021023e+09,932,SCM,2,2021-04-01 09:11:00,2021-04-01 09:22:00,ELISE,09:56:00,2021-04-01 09:37:00,09:40:00,LET,NaN,NaN,0 days 00:11:00.000000000,Thursday,NaN,26.0,Yes,Yes,0 days 00:15:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,932.0,9E,GEH
4,2021-04-01,1.021023e+09,909,SCM,5,2021-04-01 09:36:00,2021-04-01 10:02:00,ELISE,10:21:00,2021-04-01 10:21:00,10:25:00,ELISE,NaN,NaN,0 days 00:26:00.000000000,Thursday,NaN,45.0,Yes,Yes,0 days 00:19:00.000000000,0 days 00:14:40.000000000,0 days 00:14:32.000000000,April,0 days 00:20:39.000000000,0 days 00:14:54.000000000,909.0,9E,GEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,2021-12-01,1.021086e+09,NaN,SCM,9.0,2021-12-01 09:39:00,2021-12-01 10:30:00,NaN,NaN,2021-12-01 10:44:00,NaN,NaN,"[""9W remaining meds""]",NaN,0 days 00:51:00.000000000,Wednesday,905,65.0,No,Yes,0 days 00:14:00.000000000,0 days 00:11:25.000000000,0 days 00:16:30.000000000,December,0 days 00:19:18.000000000,0 days 00:21:50.000000000,NaN,NaN,GEH
2799,2021-12-01,1.021087e+09,NaN,SCM,1.0,2021-12-01 11:30:00,2021-12-01 11:42:00,NaN,NaN,2021-12-01 12:08:00,NaN,NaN,NaN,NaN,0 days 00:12:00.000000000,Wednesday,102,38.0,Yes,Yes,0 days 00:26:00.000000000,0 days 00:11:25.000000000,0 days 00:16:30.000000000,December,0 days 00:19:18.000000000,0 days 00:21:50.000000000,NaN,NaN,GEH
2800,2021-12-01,1.021085e+09,NaN,SCM,1.0,2021-12-01 12:26:00,2021-12-01 12:38:00,NaN,NaN,2021-12-01 12:45:00,NaN,NaN,NaN,NaN,0 days 00:12:00.000000000,Wednesday,113,19.0,Yes,Yes,0 days 00:07:00.000000000,0 days 00:11:25.000000000,0 days 00:16:30.000000000,December,0 days 00:19:18.000000000,0 days 00:21:50.000000000,NaN,NaN,GEH
2801,2021-12-01,1.021085e+09,NaN,SCM,1.0,2021-12-01 13:11:00,2021-12-01 13:17:00,NaN,NaN,2021-12-01 13:34:00,NaN,NaN,NaN,NaN,0 days 00:06:00.000000000,Wednesday,113,23.0,Yes,Yes,0 days 00:17:00.000000000,0 days 00:11:25.000000000,0 days 00:16:30.000000000,December,0 days 00:19:18.000000000,0 days 00:21:50.000000000,NaN,NaN,GEH
2802,2021-12-01,1.021085e+09,NaN,SCM,8.0,NaN,NaN,NaN,NaN,2021-12-01 13:34:00,NaN,NaN,NaN,NaN,NaN,Wednesday,113,NaN,NaN,NaN,NaN,0 days 00:11:25.000000000,0 days 00:16:30.000000000,December,0 days 00:19:18.000000000,0 days 00:21:50.000000000,NaN,NaN,GEH

In [75]:
#MEH
MEH['Hospital'] = 'MEH'

In [76]:
MEH.head()

,DateTime TTO Checked,DateTime TTO Dispensed,DateTime (Dispensing),DateTime TTO Received,Ward,Case Number,DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Date,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Nurse to Dispense),Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Case in Pigeon?,Hospital
0,2021-04-01 08:25:00,2021-04-01 08:46:00,2021-04-01 08:45:00,2021-04-01 08:02:00,7,2021029472-20e1d00,NaN,NaN,NaN,NaN,2021-04-01,Thursday,24.0,Yes,Yes,NaN,0 days 00:23:00.000000000,0 days 00:21:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,April,0 days 08:16:13.000000000,0 days 18:24:20.000000000,0,MEH
1,2021-04-01 08:29:00,2021-04-01 08:56:00,2021-04-01 08:46:00,2021-04-01 08:28:00,5A,2021028679-f2da14a,NaN,NaN,NaN,NaN,2021-04-01,Thursday,11.0,Yes,Yes,NaN,0 days 00:01:00.000000000,0 days 00:27:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,April,0 days 08:16:13.000000000,0 days 18:24:20.000000000,0,MEH
2,2021-04-01 09:02:00,2021-04-01 09:42:00,2021-04-01 09:05:00,2021-04-01 08:44:00,4B,2021029518-31da567,NaN,NaN,NaN,NaN,2021-04-01,Thursday,55.0,No,Yes,NaN,0 days 00:18:00.000000000,0 days 00:40:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,April,0 days 08:16:13.000000000,0 days 18:24:20.000000000,0,MEH
3,2021-04-01 08:54:00,2021-04-01 11:09:00,2021-04-01 11:08:00,2021-04-01 08:45:00,4A,2021026492-a1686aa,2021-04-01 09:42:00,NaN,NaN,NaN,2021-04-01,Thursday,10.0,Yes,Yes,NaN,0 days 00:09:00.000000000,0 days 02:15:00.000000000,0 days 00:15:53.000000000,0 days 02:05:20.000000000,April,0 days 08:16:13.000000000,0 days 18:24:20.000000000,0,MEH
4,2021-04-01 09:01:00,NaN,NaN,2021-04-01 08:48:00,Dayward,2021029372-898d040,NaN,2021-04-01 09:02:00,NaN,NaN,2021-04-01,Thursday,NaN,NaN,NaN,NaN,0 days 00:13:00.000000000,NaN,0 days 00:15:53.000000000,0 days 02:05:20.000000000,April,0 days 08:16:13.000000000,0 days 18:24:20.000000000,1,MEH

In [77]:
MEH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11635 entries, 0 to 11634
Data columns (total 25 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   DateTime TTO Checked                           11570 non-null  object
 1   DateTime TTO Dispensed                         5955 non-null   object
 2   DateTime (Dispensing)                          6149 non-null   object
 3   DateTime TTO Received                          11635 non-null  object
 4   Ward                                           11635 non-null  object
 5   Case Number                                    11635 non-null  object
 6   DateTime (in Pharmacy)                         2233 non-null   object
 7   DateTime (in Pigeon)                           5430 non-null   object
 8   DateTime (Dispensed by Nurses)                 960 non-null    object
 9   DateTime (Passed to Nurse)                     281 non-null    object
 10  Date                                           11635 non-null  object
 11  Weekday                                        11635 non-null  object
 12  TAT                                            5910 non-null   float64
 13  Meet KPI                                       5910 non-null   object
 14  Office Hours                                   5955 non-null   object
 15  Time Taken (Nurse to Dispense)                 50 non-null     object
 16  Time Taken (Received to Checked)               11346 non-null  object
 17  Time Taken (Checked to Dispensed)              5826 non-null   object
 18  Avg Time Taken / Day (Received to Checked)     11634 non-null  object
 19  Avg Time Taken / Day (Checked to Dispensed)    11395 non-null  object
 20  Month                                          11635 non-null  object
 21  Avg Time Taken / Month (Received to Checked)   11635 non-null  object
 22  Avg Time Taken / Month (Checked to Dispensed)  11635 non-null  object
 23  Case in Pigeon?                                11635 non-null  int64
 24  Hospital                                       11635 non-null  object
dtypes: float64(1), int64(1), object(23)
memory usage: 2.2+ MB

In [78]:
#MNH
MNH['Hospital'] = 'MNH'

In [79]:
MNH.head()

,Date,Room/Bed,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Month,Avg Time Taken / Month (Received to Packing),Avg Time Taken / Month (Packing to Dispensed),Time Taken to Pack,Ward,Hospital
0,2021-01-01 00:00:00,905,4020095917,4.0,NaN,PBH,0:12,2021-01-01 08:28:00,NaN,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaN,NaN,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,PBH,9,MNH
1,2021-01-01 00:00:00,1202,4020097017,8.0,wait for 2nd rx,PBH,NaN,2021-01-01 09:04:00,2021-01-01 08:50:00,NaN,Friday,NaN,NaN,NaN,-1 days +23:46:00.000000000,NaN,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,PBH,12,MNH
2,2021-01-01 00:00:00,1224,4020095632,1.0,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00.000000000,0 days 00:15:00.000000000,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,4.000000000000001,12,MNH
3,2021-01-01 00:00:00,818,4020097033,1.0,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00.000000000,0 days 00:14:00.000000000,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,1.0000000000000002,8,MNH
4,2021-01-01 00:00:00,803,4020097026,1.0,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00.000000000,0 days 01:12:00.000000000,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,7.0,8,MNH

In [80]:
MNH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15512 entries, 0 to 15511
Data columns (total 24 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15512 non-null  object
 1   Room/Bed                                            15503 non-null  object
 2   Case Number                                         15512 non-null  object
 3   No. of Drugs                                        15510 non-null  float64
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15474 non-null  object
 6   Time Taken to Reach Pt (mins)                       15502 non-null  object
 7   DateTime TTO Received                               15512 non-null  object
 8   DateTime TTO Packing                                11622 non-null  object
 9   DateTime TTO Dispensed                              15502 non-null  object
 10  Weekday                                             15512 non-null  object
 11  TAT                                                 15502 non-null  float64
 12  Meet KPI                                            15433 non-null  object
 13  Office Hours                                        15502 non-null  object
 14  Time Taken (Received to Packing)                    11598 non-null  object
 15  Time Taken (Packing to Dispensed)                   11611 non-null  object
 16  Avg Time Taken / Day (Received to Packing)          15512 non-null  object
 17  Avg Time Taken / Day (Packing to Dispensed)         15512 non-null  object
 18  Month                                               15512 non-null  object
 19  Avg Time Taken / Month (Received to Packing)        15512 non-null  object
 20  Avg Time Taken / Month (Packing to Dispensed)       15512 non-null  object
 21  Time Taken to Pack                                  15465 non-null  object
 22  Ward                                                14954 non-null  object
 23  Hospital                                            15512 non-null  object
dtypes: float64(2), object(22)
memory usage: 2.8+ MB

In [81]:
# rename packing to checked for standardization 
MNH= MNH.rename({'DateTime TTO Packing': 'DateTime TTO Checked',
    'Time Taken (Received to Packing)' : 'Time Taken (Received to Checked)', 
    'Time Taken (Packing to Dispensed)' : 'Time Taken (Checked to Dispensed)',
    'Avg Time Taken / Day (Received to Packing)' : 'Avg Time Taken / Day (Received to Checked)',
    'Avg Time Taken / Day (Packing to Dispensed)' : 'Avg Time Taken / Day (Checked to Dispensed)', 
    'Avg Time Taken / Month (Received to Packing)' : 'Avg Time Taken / Month (Received to Checked)',
    'Avg Time Taken / Month (Packing to Dispensed)' : 'Avg Time Taken / Month (Checked to Dispensed)'}, axis=1)

In [82]:
#Change 'Date' Column to %Y-%m-%d only
MNH['Date'] = pd.to_datetime(MNH['Date']).dt.date

In [83]:
MNH

,Date,Room/Bed,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Checked,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Time Taken to Pack,Ward,Hospital
0,2021-01-01,905,4020095917,4.0,NaN,PBH,0:12,2021-01-01 08:28:00,NaN,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaN,NaN,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,PBH,9,MNH
1,2021-01-01,1202,4020097017,8.0,wait for 2nd rx,PBH,NaN,2021-01-01 09:04:00,2021-01-01 08:50:00,NaN,Friday,NaN,NaN,NaN,-1 days +23:46:00.000000000,NaN,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,PBH,12,MNH
2,2021-01-01,1224,4020095632,1.0,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00.000000000,0 days 00:15:00.000000000,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,4.000000000000001,12,MNH
3,2021-01-01,818,4020097033,1.0,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00.000000000,0 days 00:14:00.000000000,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,1.0000000000000002,8,MNH
4,2021-01-01,803,4020097026,1.0,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00.000000000,0 days 01:12:00.000000000,0 days 00:09:58.000000000,0 days 00:35:21.000000000,January,0 days 00:18:59.000000000,0 days 00:39:03.000000000,7.0,8,MNH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15507,2021-12-31,824,4021107656,1.0,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0,Yes,Yes,NaN,0 days 00:10:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,0.0,8,MNH
15508,2021-12-31,1205,4021107518,1.0,NaN,PBH,0:12,2021-12-31 13:35:00,NaN,2021-12-31 13:47:00,Friday,12.0,Yes,Yes,NaN,NaN,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,PBH,12,MNH
15509,2021-12-31,1131,4021107644,3.0,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0,No,Yes,0 days 00:09:00.000000000,0 days 00:17:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,9.0,11,MNH
15510,2021-12-31,622,4021108689,2.0,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0,No,Yes,0 days 00:10:00.000000000,0 days 00:32:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,10.0,6,MNH
15511,2021-12-31,609,4021108267,4.0,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0,Yes,Yes,0 days 00:05:00.000000000,0 days 00:20:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,5.0,6Peds,MNH

## Step 4: Merge ALL relevant CSV(s)

In [84]:
pd.set_option('display.max_columns', None)

In [85]:
df = pd.concat([PEH,GEH,MEH,MNH], ignore_index=True)

df

,Date,Ward,Room/Bed,Case Number,DateTime TTO Received,DateTime (Meds Sent Down),DateTime TTO Checked,DateTime (Counselled),Remarks,Checked By (Pharmacist),Time Taken (Ready for Collection),Time Taken (to Counselling),No. of Drugs,Bedside Counselling Candidate,Dispensed by,PML,No PML Remarks,Weekday,DateTime TTO Dispensed,TAT,Meet KPI,Office Hours,Time Taken (Received to Checked),Time Taken (Checked to Dispensed),Avg Time Taken / Day (Received to Checked),Avg Time Taken / Day (Checked to Dispensed),Month,Avg Time Taken / Month (Received to Checked),Avg Time Taken / Month (Checked to Dispensed),Hospital,TTO Type,Checked by,Time to meet,Counselled by,Limo Service,Room_x,Room_y,DateTime (Dispensing),DateTime (in Pharmacy),DateTime (in Pigeon),DateTime (Dispensed by Nurses),DateTime (Passed to Nurse),Time Taken (Nurse to Dispense),Case in Pigeon?,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time Taken to Pack
0,2021-01-04,4A,4811.0,3021000132.0,2021-01-04 09:52:00,NaN,2021-01-04 10:00:00,2021-01-04 10:10:00,NaN,TFP,00:08:00,00:18:00,3.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 10:10:00,18.0,Yes,Yes,0 days 00:08:00.000000000,0 days 00:10:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-04,3A,3828.0,3020041950.0,2021-01-04 08:34:00,NaN,2021-01-04 08:44:00,NaN,NaN,TFP,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:44:00,10.0,Yes,Yes,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-04,3B,3606.0,3021000166.0,2021-01-04 09:15:00,2021-01-04 09:40:00,2021-01-04 09:50:00,2021-01-04 09:55:00,NaN,TFP,00:10:00,00:15:00,2.0,Yes,TFP,NaN,NaN,Monday,2021-01-04 09:55:00,15.0,Yes,Yes,0 days 00:35:00.000000000,0 days 00:05:00.000000000,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,DAY,2011.0,3021000242.0,2021-01-04 10:09:00,NaN,2021-01-04 10:20:00,NaN,NaN,TFP,00:11:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 10:20:00,11.0,Yes,Yes,0 days 00:11:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-04,4B,4610.0,3020044361.0,2021-01-04 08:37:00,NaN,2021-01-04 08:47:00,NaN,PATIENT FOR HOME ON WED,YSM,00:10:00,NaN,NaN,No,NaN,NaN,NaN,Monday,2021-01-04 08:47:00,10.0,Yes,Yes,0 days 00:10:00.000000000,NaN,0 days 00:12:30.000000000,0 days 00:01:52.000000000,January,0 days 00:13:10.000000000,0 days 00:16:21.000000000,PEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33197,2021-12-31,8,824,4021107656,2021-12-31 13:00:00,NaN,2021-12-31 13:00:00,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Friday,2021-12-31 13:10:00,10.0,Yes,Yes,NaN,0 days 00:10:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,add on TTO,0:00,0:10,0.0
33198,2021-12-31,12,1205,4021107518,2021-12-31 13:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,Friday,2021-12-31 13:47:00,12.0,Yes,Yes,NaN,NaN,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PBH,0:12,PBH
33199,2021-12-31,11,1131,4021107644,2021-12-31 14:08:00,NaN,2021-12-31 14:17:00,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,Friday,2021-12-31 14:34:00,26.0,No,Yes,0 days 00:09:00.000000000,0 days 00:17:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0:09,0:26,9.0
33200,2021-12-31,6,622,4021108689,2021-12-31 13:59:00,NaN,2021-12-31 14:09:00,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,Friday,2021-12-31 14:41:00,42.0,No,Yes,0 days 00:10:00.000000000,0 days 00:32:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1431 pt in bathroom,0:10,0:42,10.0
33201,2021-12-31,6Peds,609,4021108267,2021-12-31 16:20:00,NaN,2021-12-31 16:25:00,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,Friday,2021-12-31 16:45:00,25.0,Yes,Yes,0 days 00:05:00.000000000,0 days 00:20:00.000000000,0 days 00:07:00.000000000,0 days 00:26:58.000000000,December,0 days 00:13:33.000000000,0 days 00:38:24.000000000,MNH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0:05,0:25,5.0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33202 entries, 0 to 33201
Data columns (total 48 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                33202 non-null  object
 1   Ward                                                30318 non-null  object
 2   Room/Bed                                            19237 non-null  object
 3   Case Number                                         33202 non-null  object
 4   DateTime TTO Received                               33169 non-null  object
 5   DateTime (Meds Sent Down)                           318 non-null    object
 6   DateTime TTO Checked                                29022 non-null  object
 7   DateTime (Counselled)                               1383 non-null   object
 8   Remarks                                             2992 non-null   object
 9   Checked By (Pharmacist)                             3243 non-null   object
 10  Time Taken (Ready for Collection)                   3244 non-null   object
 11  Time Taken (to Counselling)                         992 non-null    object
 12  No. of Drugs                                        19298 non-null  object
 13  Bedside Counselling Candidate                       3252 non-null   object
 14  Dispensed by                                        993 non-null    object
 15  PML                                                 563 non-null    object
 16  No PML Remarks                                      268 non-null    object
 17  Weekday                                             33202 non-null  object
 18  DateTime TTO Dispensed                              27106 non-null  object
 19  TAT                                                 27051 non-null  float64
 20  Meet KPI                                            26923 non-null  object
 21  Office Hours                                        27097 non-null  object
 22  Time Taken (Received to Checked)                    28763 non-null  object
 23  Time Taken (Checked to Dispensed)                   20786 non-null  object
 24  Avg Time Taken / Day (Received to Checked)          33201 non-null  object
 25  Avg Time Taken / Day (Checked to Dispensed)         32521 non-null  object
 26  Month                                               33202 non-null  object
 27  Avg Time Taken / Month (Received to Checked)        33202 non-null  object
 28  Avg Time Taken / Month (Checked to Dispensed)       33202 non-null  object
 29  Hospital                                            33202 non-null  object
 30  TTO Type                                            2794 non-null   object
 31  Checked by                                          466 non-null    object
 32  Time to meet                                        491 non-null    object
 33  Counselled by                                       420 non-null    object
 34  Limo Service                                        1 non-null      object
 35  Room_x                                              2312 non-null   object
 36  Room_y                                              490 non-null    float64
 37  DateTime (Dispensing)                               6149 non-null   object
 38  DateTime (in Pharmacy)                              2233 non-null   object
 39  DateTime (in Pigeon)                                5430 non-null   object
 40  DateTime (Dispensed by Nurses)                      960 non-null    object
 41  DateTime (Passed to Nurse)                          281 non-null    object
 42  Time Taken (Nurse to Dispense)                      50 non-null     object
 43  Case in Pigeon?                                     11635 non-null  float64
 44  Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 45  Time Taken To Pack (mins)                           15474 non-null  object
 46  Time Taken to Reach Pt (mins)                       15502 non-null  object
 47  Time Taken to Pack                                  15465 non-null  object
dtypes: float64(3), object(45)
memory usage: 12.2+ MB

In [87]:
df[df['Date'].isnull()]

Empty DataFrame
Columns: [Date, Ward, Room/Bed, Case Number, DateTime TTO Received, DateTime (Meds Sent Down), DateTime TTO Checked, DateTime (Counselled), Remarks, Checked By (Pharmacist), Time Taken (Ready for Collection), Time Taken (to Counselling), No. of Drugs, Bedside Counselling Candidate, Dispensed by, PML, No PML Remarks, Weekday, DateTime TTO Dispensed, TAT, Meet KPI, Office Hours, Time Taken (Received to Checked), Time Taken (Checked to Dispensed), Avg Time Taken / Day (Received to Checked), Avg Time Taken / Day (Checked to Dispensed), Month, Avg Time Taken / Month (Received to Checked), Avg Time Taken / Month (Checked to Dispensed), Hospital, TTO Type, Checked by, Time to meet, Counselled by, Limo Service, Room_x, Room_y, DateTime (Dispensing), DateTime (in Pharmacy), DateTime (in Pigeon), DateTime (Dispensed by Nurses), DateTime (Passed to Nurse), Time Taken (Nurse to Dispense), Case in Pigeon?, Comments (for delayed cases) (eg. Pt sleeping etc), Time Taken To Pack (mins), Time Taken to Reach Pt (mins), Time Taken to Pack]
Index: []

In [88]:
df.isnull().sum()

Date                                                      0
Ward                                                   2884
Room/Bed                                              13965
Case Number                                               0
DateTime TTO Received                                    33
DateTime (Meds Sent Down)                             32884
DateTime TTO Checked                                   4180
DateTime (Counselled)                                 31819
Remarks                                               30210
Checked By (Pharmacist)                               29959
Time Taken (Ready for Collection)                     29958
Time Taken (to Counselling)                           32210
No. of Drugs                                          13904
Bedside Counselling Candidate                         29950
Dispensed by                                          32209
PML                                                   32639
No PML Remarks                                        32934
Weekday                                                   0
DateTime TTO Dispensed                                 6096
TAT                                                    6151
Meet KPI                                               6279
Office Hours                                           6105
Time Taken (Received to Checked)                       4439
Time Taken (Checked to Dispensed)                     12416
Avg Time Taken / Day (Received to Checked)                1
Avg Time Taken / Day (Checked to Dispensed)             681
Month                                                     0
Avg Time Taken / Month (Received to Checked)              0
Avg Time Taken / Month (Checked to Dispensed)             0
Hospital                                                  0
TTO Type                                              30408
Checked by                                            32736
Time to meet                                          32711
Counselled by                                         32782
Limo Service                                          33201
Room_x                                                30890
Room_y                                                32712
DateTime (Dispensing)                                 27053
DateTime (in Pharmacy)                                30969
DateTime (in Pigeon)                                  27772
DateTime (Dispensed by Nurses)                        32242
DateTime (Passed to Nurse)                            32921
Time Taken (Nurse to Dispense)                        33152
Case in Pigeon?                                       21567
Comments (for delayed cases) (eg. Pt sleeping etc)    29348
Time Taken To Pack (mins)                             17728
Time Taken to Reach Pt (mins)                         17700
Time Taken to Pack                                    17737
dtype: int64

## Step 5: Change those with 0 days 00:00:00 under Time Taken (Received to Checked)/Time Taken (Checked to Dispensed) to empty

In [89]:
df['Time Taken (Received to Checked)'] = df['Time Taken (Received to Checked)'].replace(['0 days 00:00:00'], np.nan)

In [90]:
df['Time Taken (Checked to Dispensed)'] = df['Time Taken (Checked to Dispensed)'].replace(['0 days 00:00:00'], np.nan)

In [91]:
# Add additional columns to analyse those cases that did not meet KPI

In [92]:

#def f(row):
#    if (row['Meet KPI'] == 'No') | (row['Meet KPI'] == ''):
#        if (row['Time Taken (Received to Checked)']  != '') & (row['Time Taken (Checked to Dispensed)']  != ''):
#            if (row['Time Taken (Received to Checked)'] >= row['Avg Time Taken / Day (Received to Checked)']) & (row['Time Taken (Checked to Dispensed)'] >= row['Avg Time Taken / Day (Checked to Dispensed)']):
#                val = 'Yes'
#            else:
#                val = 'No'
#        elif (row['Time Taken (Received to Checked)']  != '') | (row['Time Taken (Checked to Dispensed)']  != ''):
#            if (row['Time Taken (Received to Checked)'] >= row['Avg Time Taken / Day (Received to Checked)']) | (row['Time Taken (Checked to Dispensed)'] >= row['Avg Time Taken / Day (Checked to Dispensed)']):
#                val = 'Yes'
#            else:
#                val = 'No'
#        else:
#            val = ''
#    else:
#        val = 'No'
#    return val

In [93]:
#def f2(row):
#    if (row['Time Taken (Received to Checked)'] == '') & (row['Time Taken (Checked to Dispensed)']  == ''):
#        val = ''
#    elif (row['Time Taken (Received to Checked)']  != '') | (row['Time Taken (Checked to Dispensed)']  != ''):
#        if (row['Time Taken (Received to Checked)'] >= row['Avg Time Taken / Day (Received to Checked)']) & (row['Time Taken (Checked to Dispensed)'] >= row['Avg Time Taken / Day (Checked to Dispensed)']):
#            val = 'Yes'
#        else:
#            val = 'No'
#    elif (row['Time Taken (Received to Checked)']  != '') & (row['Time Taken (Checked to Dispensed)']  != ''):
#        if (row['Time Taken (Received to Checked)'] >= row['Avg Time Taken / Day (Received to Checked)']) & (row['Time Taken (Checked to Dispensed)'] >= row['Avg Time Taken / Day (Checked to Dispensed)']):
#            val = 'Yes'
#        else:
#            val = 'No'
#    else:
#        val = 'No'
#    return val

In [94]:
#df['Process Time Issue'] = df.apply(f, axis=1)
#df

In [95]:

#df['Time Taken (Received to Checked)'].notnull() >= df['Avg Time Taken / Day (Received to Checked)']

In [96]:
df['Process Time Issue'] = np.where( (df['Meet KPI'] == 'No') | (df['Meet KPI'] == '') ,
                            np.where(  
                                ((df['Time Taken (Received to Checked)'] >= df['Avg Time Taken / Day (Received to Checked)']) | (df['Time Taken (Checked to Dispensed)'] >= df['Avg Time Taken / Day (Checked to Dispensed)']) ),
                                        'Yes', 'No'), 'No')

In [97]:
#df

## Step 6: Export to CSV

In [98]:
#export to CSV
df.to_csv("../../Data/Pharmacy Dept/Data Cleaning/Merged_Pharmacy_Dept_CLEANED.csv", index=None, header=True)