# MNH Pharmacy Department

In [1]:
import pandas as pd
import numpy as np
from datetime import *

In [2]:
pd.set_option('display.max_columns', None)

## Data Cleaning

In [3]:
df = pd.read_csv('../../Data/Pharmacy Dept/MNH TTO Data/MNH TTO Data - MERGED.csv', na_values=' ')

In [4]:
df

,Date,Bed no.,Case no.,Can close,No. of drugs,Time TTO received (24 hr format) (eg 1340),Timing of Packing (24 hr format / PBH) (eg 1340 / PBH),Timing of Dispensing (24 hr format),Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),Time TTO received,Timing of packing,Timing of Dispensing,20 min and below,Between 20 to 30 min,30min and below,More than 30 min,Weekday,Weekday Count,Weekend,Weekend Count,NOT Ward 9
0,01-01-21,905,4020095917,839,4,828,pbh,840,NaN,PBH,0:12,8:28 AM,PBH,8:40 AM,1,0,1,0,TRUE,1,FALSE,0,0
1,01-01-21,1202,4020097017,934,8,904,850,NaN,wait for 2nd rx,##############################################...,blank,9:04 AM,8:50 AM,#VALUE!,0,0,0,0,TRUE,1,FALSE,0,1
2,01-01-21,1224,4020095632,934,1,901,905,920,NaN,0:04,0:19,9:01 AM,9:05 AM,9:20 AM,1,0,1,0,TRUE,1,FALSE,0,1
3,01-01-21,818,4020097033,934,1,900,901,915,NaN,0:01,0:15,9:00 AM,9:01 AM,9:15 AM,1,0,1,0,TRUE,1,FALSE,0,1
4,01-01-21,803,4020097026,1029,1,908,915,1027,"can close, added on metformin and glipizide. 1...",0:07,1:19,9:08 AM,9:15 AM,10:27 AM,0,0,0,1,TRUE,1,FALSE,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15517,31-12-21,824,4021107656,1311,1,1300,1300,1310,add on TTO,0:00,0:10,1:00 PM,1:00 PM,1:10 PM,1,0,1,0,TRUE,1,FALSE,0,1
15518,31-12-21,1205,4021107518,1351,1,1335,pbh,1347,NaN,PBH,0:12,1:35 PM,PBH,1:47 PM,1,0,1,0,TRUE,1,FALSE,0,1
15519,31-12-21,1131,4021107644,1426,3,1408,1417,1434,NaN,0:09,0:26,2:08 PM,2:17 PM,2:34 PM,0,1,1,0,TRUE,1,FALSE,0,1
15520,31-12-21,622,4021108689,1446,2,1359,1409,1441,1431 pt in bathroom,0:10,0:42,1:59 PM,2:09 PM,2:41 PM,0,0,0,1,TRUE,1,FALSE,0,1
15521,31-12-21,609,4021108267,1651,4,1620,1625,1645,NaN,0:05,0:25,4:20 PM,4:25 PM,4:45 PM,0,1,1,0,TRUE,1,FALSE,0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15522 entries, 0 to 15521
Data columns (total 23 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Date                                                    15521 non-null  object
 1   Bed no.                                                 15512 non-null  object
 2   Case no.                                                15516 non-null  object
 3   Can close                                               15454 non-null  object
 4   No. of drugs                                            15520 non-null  object
 5   Time TTO received (24 hr format) (eg 1340)              15517 non-null  object
 6   Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)  15508 non-null  object
 7   Timing of Dispensing (24 hr format)                     15512 non-null  object
 8   Comments (for delayed cases) (eg. Pt sleeping etc)      3857 non-null   object
 9   Time Taken To Pack (mins)                               15521 non-null  object
 10  Time Taken to Reach Pt (mins)                           15522 non-null  object
 11  Time TTO received                                       15522 non-null  object
 12  Timing of packing                                       15522 non-null  object
 13  Timing of Dispensing                                    15522 non-null  object
 14  20 min and below                                        15522 non-null  int64
 15  Between 20 to 30 min                                    15522 non-null  int64
 16  30min and below                                         15522 non-null  int64
 17  More than 30 min                                        15522 non-null  int64
 18  Weekday                                                 15522 non-null  object
 19  Weekday Count                                           15522 non-null  int64
 20  Weekend                                                 15522 non-null  object
 21  Weekend Count                                           15522 non-null  int64
 22  NOT Ward 9                                              15522 non-null  int64
dtypes: int64(7), object(16)
memory usage: 2.7+ MB

In [6]:
list(df.columns)

['Date',
 'Bed no.',
 'Case no.',
 'Can close',
 'No. of drugs',
 'Time TTO received (24 hr format) (eg 1340)',
 'Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)',
 'Timing of Dispensing (24 hr format)',
 'Comments (for delayed cases) (eg. Pt sleeping etc)',
 'Time Taken To Pack (mins)',
 'Time Taken to Reach Pt (mins)',
 'Time TTO received',
 'Timing of packing',
 'Timing of Dispensing',
 '20 min and below',
 'Between 20 to 30 min',
 '30min and below',
 'More than 30 min',
 'Weekday',
 'Weekday Count',
 'Weekend',
 'Weekend Count',
 'NOT Ward 9']

### Drop columns that should be ignore

In [7]:
# drop repeated column
df.drop(['Can close', 'Time TTO received (24 hr format) (eg 1340)', 'Timing of Packing (24 hr format / PBH) (eg 1340 / PBH)', 'Timing of Dispensing (24 hr format)',
        'Weekday', 'Weekday Count', 'Weekend', 'Weekend Count', 'NOT Ward 9', '20 min and below', 'Between 20 to 30 min', '30min and below', 'More than 30 min'], 
        axis=1, inplace=True)

In [8]:
#df.drop(df.iloc[:, 18:23], inplace = True, axis = 1)

### Rename common columns

In [9]:
#rename columns
df.rename({'Case no.': 'Case Number', 
            #'Bed no.': 'Ward', 
            'No. of drugs': 'No. of Drugs',
           'Time TTO received': 'DateTime TTO Received',
            'Timing of packing': 'DateTime TTO Packing', 
            'Timing of Dispensing': 'DateTime TTO Dispensed'},   
           axis=1, inplace=True)

### Fix date time type

In [10]:
columns = ['DateTime TTO Received',
           'DateTime TTO Packing', 
           'DateTime TTO Dispensed']
for column in columns:
    df.loc[:,column] = pd.to_datetime((df['Date'].astype(str) + ' ' + df[column].astype(str)), infer_datetime_format=True, errors='coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15522 entries, 0 to 15521
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15521 non-null  object
 1   Bed no.                                             15512 non-null  object
 2   Case Number                                         15516 non-null  object
 3   No. of Drugs                                        15520 non-null  object
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3857 non-null   object
 5   Time Taken To Pack (mins)                           15521 non-null  object
 6   Time Taken to Reach Pt (mins)                       15522 non-null  object
 7   DateTime TTO Received                               15512 non-null  datetime64[ns]
 8   DateTime TTO Packing                                11627 non-null  datetime64[ns]
 9   DateTime TTO Dispensed                              15508 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(7)
memory usage: 1.2+ MB

### Handle missing values

In [12]:
df.isnull().sum()

Date                                                      1
Bed no.                                                  10
Case Number                                               6
No. of Drugs                                              2
Comments (for delayed cases) (eg. Pt sleeping etc)    11665
Time Taken To Pack (mins)                                 1
Time Taken to Reach Pt (mins)                             0
DateTime TTO Received                                    10
DateTime TTO Packing                                   3895
DateTime TTO Dispensed                                   14
dtype: int64

In [13]:
#df.iloc[5750:5770]

#### Missing date

In [14]:
missing_date = df[df['Case Number'].isnull()]
missing_date

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
1175,29-01-21,NaN,NaN,NaN,NaN,blank,blank,NaT,NaT,NaT
2484,02-03-21,216,NaN,3,SN called at 1438 to say can go,1:17,2:02,2021-02-03 12:59:00,2021-02-03 14:16:00,2021-02-03 15:01:00
2485,02-03-21,1021,NaN,5,NaN,0:26,1:01,2021-02-03 14:24:00,2021-02-03 14:50:00,2021-02-03 15:25:00
2867,10-03-21,27-Aug-01,NaN,NaN,NaN,blank,blank,NaT,NaT,NaT
3764,30-03-21,627,NaN,4,intervention,##############################################...,0:48,2021-03-30 09:57:00,2021-03-30 09:19:00,2021-03-30 10:45:00
9314,08-07-21,NaN,NaN,4,NaN,0:02,0:22,2021-08-07 09:18:00,2021-08-07 09:20:00,2021-08-07 09:40:00

In [15]:
# fill up with 15-07-21 based on the given data CSV
df[['Date']] = df[['Date']].fillna('15-07-21')

#### Missing Time TTO received

In [16]:
# drop rows with missing Time TTO received -> 1 row only
df.replace('#VALUE!', np.nan, inplace = True)
df = df.dropna(subset=['DateTime TTO Received'])
#df.replace('blank', np.nan, inplace = True)

#### Missing case number

In [17]:
df['Case Number'] = df['Case Number'].replace('  ', 'EMPTY')
df[['Case Number']] = df[['Case Number']].fillna('EMPTY')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

#### Missing Time Taken To Pack (mins)

In [18]:
# handle row with missing Time Taken To Pack (mins) by filling up with PBH ##### EDIT THIS PBH!!!!!!
df[df['Time Taken To Pack (mins)'].isnull()]

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
10040,25-08-21,1105,4021069998,1,NaN,NaN,0:17,2021-08-25 09:39:00,NaT,2021-08-25 09:56:00

In [19]:
df[['Time Taken To Pack (mins)']] = df[['Time Taken To Pack (mins)']].fillna('PBH')

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

#### Missing Time TTO packing

In [20]:
# fill up missing time with naT
df[df['DateTime TTO Packing'].isnull()].head(3)

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
0,01-01-21,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00
7,01-01-21,609,4020093330,4,NaN,PBH,0:33,2021-01-01 09:27:00,NaT,2021-01-01 10:00:00
8,01-01-21,930,4020096673,4,NaN,PBH,0:28,2021-01-01 09:52:00,NaT,2021-01-01 10:20:00

In [21]:
#df[['Time TTO Packing']] = df[['Time TTO Packing']].fillna('NA')

#### Missing Time TTO Dispensed

In [22]:
#df[df['Time TTO Dispensed'].isnull()].head(3)

In [23]:
# handle row with missing Time TTO packing, Time TTO dispensing with blank because it is empty but dont want to drop
#df[['Time TTO Dispensed']] = df[['Time TTO Dispensed']].fillna('NA')
#df[df['Time TTO packing'].isnull()].head()

In [24]:
df.isnull().sum()

Date                                                      0
Bed no.                                                   9
Case Number                                               0
No. of Drugs                                              0
Comments (for delayed cases) (eg. Pt sleeping etc)    11658
Time Taken To Pack (mins)                                 0
Time Taken to Reach Pt (mins)                             0
DateTime TTO Received                                     0
DateTime TTO Packing                                   3890
DateTime TTO Dispensed                                   10
dtype: int64

In [25]:
df

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
0,01-01-21,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00
1,01-01-21,1202,4020097017,8,wait for 2nd rx,##############################################...,blank,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT
2,01-01-21,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00
3,01-01-21,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00
4,01-01-21,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00
...,...,...,...,...,...,...,...,...,...,...
15517,31-12-21,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00
15518,31-12-21,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00
15519,31-12-21,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00
15520,31-12-21,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00
15521,31-12-21,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00

In [26]:
#no need to handle missing values for comments since they can leave comments or not

### Handle rows with special characters

#### Handle non numeric value in No. of drugs

In [27]:
#select rows not numeric
df[df['No. of Drugs'].apply(lambda x: not x.isnumeric())]

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
952,24-01-21,1012,4021006560,-,patient rejected meds,0:34,0:59,2021-01-24 10:36:00,2021-01-24 11:10:00,2021-01-24 11:35:00
3560,26-03-21,COT928,4021023823,relabeling,NaN,blank,1:13,2021-03-26 07:41:00,NaT,2021-03-26 08:54:00

In [28]:
# replace with Unknown number 
df['No. of Drugs'] = df['No. of Drugs'].str.replace('-','NA')
df['No. of Drugs'] = df['No. of Drugs'].str.replace('relabeling','NA')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### Handle #### value in Time Taken To Pack (mins) / Time Taken to Reach Pt (mins)

In [29]:
df_special = df.loc[df['Time Taken To Pack (mins)'].str.contains(r'#') == True]
df_special.head()

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
1,01-01-21,1202,4020097017,8,wait for 2nd rx,##############################################...,blank,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT
284,09-01-21,626,4020093087,2,NaN,##############################################...,0:40,2021-09-01 09:40:00,2021-09-01 08:48:00,2021-09-01 10:20:00
341,10-01-21,p08,4021002120,3,NaN,##############################################...,0:18,2021-10-01 12:13:00,2021-10-01 11:54:00,2021-10-01 12:31:00
345,10-01-21,1214,4020096026,8,NaN,##############################################...,0:43,2021-10-01 14:09:00,2021-10-01 14:02:00,2021-10-01 14:52:00
474,13-01-21,P05,4021001516,9,"long TTO, CD",##############################################...,##############################################...,2021-01-13 15:40:00,2021-01-13 14:59:00,2021-01-13 15:34:00

In [30]:
df['Time Taken To Pack (mins)'] = df['Time Taken To Pack (mins)'].str.replace('###############################################################################################################################################################################################################################################################', 
                                                                              'PBH') # replace with PBH

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
# replace blank with nan
df['Time Taken To Pack (mins)'] = df['Time Taken To Pack (mins)'].str.replace('blank', "")

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
df['Time Taken to Reach Pt (mins)'] = df['Time Taken to Reach Pt (mins)'].str.replace('###############################################################################################################################################################################################################################################################', 
                                                                              'PBH') # replace with PBH

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
# replace blank with NA
df['Time Taken to Reach Pt (mins)']  = df['Time Taken to Reach Pt (mins)'].str.replace('blank', '')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
df.iloc[474:476]

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
474,13-01-21,P05,4021001516,9,"long TTO, CD",PBH,PBH,2021-01-13 15:40:00,2021-01-13 14:59:00,2021-01-13 15:34:00
475,13-01-21,606,4021003450,1,1455 pt in ot,0:17,1:26,2021-01-13 14:34:00,2021-01-13 14:51:00,2021-01-13 16:00:00

### Replace year not equal to 2021 as 2021 in Date

In [35]:
# change to datetime formate
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
df_filtered = df[df['Date'].dt.strftime('%Y') != '2021']
df_filtered.count()

Date                                                  47
Bed no.                                               47
Case Number                                           47
No. of Drugs                                          47
Comments (for delayed cases) (eg. Pt sleeping etc)    14
Time Taken To Pack (mins)                             47
Time Taken to Reach Pt (mins)                         47
DateTime TTO Received                                 47
DateTime TTO Packing                                  36
DateTime TTO Dispensed                                47
dtype: int64

In [37]:
df_filtered

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
8626,2022-07-22,824,4021055919,11,NaN,PBH,0:17,2022-07-22 08:53:00,NaT,2022-07-22 09:10:00
8627,2023-07-22,612,4021059316,4,paeds relabel,0:13,0:49,2023-07-22 08:21:00,2023-07-22 08:34:00,2023-07-22 09:10:00
8628,2024-07-22,920,4021035651,2,NaN,PBH,0:27,2024-07-22 08:44:00,NaT,2024-07-22 09:11:00
8629,2025-07-22,921,4021050039,3,NaN,0:14,0:42,2025-07-22 08:32:00,2025-07-22 08:46:00,2025-07-22 09:14:00
8630,2026-07-22,1020,4021059853,6,NaN,0:35,0:54,2026-07-22 08:36:00,2026-07-22 09:11:00,2026-07-22 09:30:00
8631,2027-07-22,214,4021059893,1,NaN,PBH,0:41,2027-07-22 09:17:00,NaT,2027-07-22 09:58:00
8632,2028-07-22,817,4021059498,1,NaN,0:11,0:20,2028-07-22 09:15:00,2028-07-22 09:26:00,2028-07-22 09:35:00
8633,2029-07-22,814,4021059839,5,NaN,PBH,0:31,2029-07-22 09:09:00,NaT,2029-07-22 09:40:00
8634,2030-07-22,1022,4021058893,2,NaN,0:21,0:41,2030-07-22 08:49:00,2030-07-22 09:10:00,2030-07-22 09:30:00
8635,2031-07-22,616,4021058545,6,awiting stocks,PBH,1:08,2031-07-22 08:52:00,NaT,2031-07-22 10:00:00
8636,2032-07-22,630,4021059494,3,paeds relabel,PBH,1:04,2032-07-22 08:36:00,NaT,2032-07-22 09:40:00
8637,2033-07-22,628,4021059014,7,paeds relabel,PBH,1:14,2033-07-22 08:36:00,NaT,2033-07-22 09:50:00
8638,2034-07-22,480,4021055182,1,NaN,0:04,0:22,2034-07-22 09:49:00,2034-07-22 09:53:00,2034-07-22 10:11:00
8639,2035-07-22,1226,4021058823,2,aw CD Rx,0:23,0:51,2035-07-22 09:09:00,2035-07-22 09:32:00,2035-07-22 10:00:00
8640,2036-07-22,P08,4021058600,3,NaN,0:25,0:42,2036-07-22 09:23:00,2036-07-22 09:48:00,2036-07-22 10:05:00
8641,2037-07-22,731,4021060024,1,NaN,0:26,0:46,2037-07-22 09:24:00,2037-07-22 09:50:00,2037-07-22 10:10:00
8642,2038-07-22,206,4021055094,3,NaN,PBH,0:16,2038-07-22 10:14:00,NaT,2038-07-22 10:30:00
8643,2039-07-22,825,4021059928,2,a/w stock for gaviscon advance,1:44,2:14,2039-07-22 08:16:00,2039-07-22 10:00:00,2039-07-22 10:30:00
8644,2040-07-22,804,4021059744,2,NaN,0:16,1:01,2040-07-22 09:34:00,2040-07-22 09:50:00,2040-07-22 10:35:00
8645,2041-07-22,612,4021059316,1,"paeds relabel, 2nd TTO",0:18,1:07,2041-07-22 09:28:00,2041-07-22 09:46:00,2041-07-22 10:35:00
8646,2042-07-22,204,4021058377,5,NaN,0:15,0:37,2042-07-22 10:10:00,2042-07-22 10:25:00,2042-07-22 10:47:00
8647,2043-07-22,1221,4021060001,3,NaN,0:21,1:29,2043-07-22 09:21:00,2043-07-22 09:42:00,2043-07-22 10:50:00
8648,2044-07-22,1210,4021057590,3,intervention,0:04,2:04,2044-07-22 08:36:00,2044-07-22 08:40:00,2044-07-22 10:40:00
8649,2045-07-22,1204,4021058678,5,NaN,0:12,0:55,2045-07-22 09:45:00,2045-07-22 09:57:00,2045-07-22 10:40:00
8650,2046-07-22,812,4021059897,1,NaN,0:13,0:21,2046-07-22 10:37:00,2046-07-22 10:50:00,2046-07-22 10:58:00
8651,2047-07-22,615,4021060362,2,NaN,0:12,0:22,2047-07-22 10:48:00,2047-07-22 11:00:00,2047-07-22 11:10:00
8652,2048-07-22,467,4021059665,3,NaN,0:05,0:35,2048-07-22 11:10:00,2048-07-22 11:15:00,2048-07-22 11:45:00
8653,2049-07-22,463,4021049044,1,give at 1220,0:34,1:08,2049-07-22 11:26:00,2049-07-22 12:00:00,2049-07-22 12:34:00
8654,2050-07-22,623,4021060407,3,NaN,0:21,0:26,2050-07-22 12:19:00,2050-07-22 12:40:00,2050-07-22 12:45:00
8655,2051-07-22,1217,4021059917,3,NaN,0:08,0:22,2051-07-22 12:51:00,2051-07-22 12:59:00,2051-07-22 13:13:00
8656,2052-07-22,304,4021055441,10,"2nd script ordered at 1348, intervention",0:18,1:12,2052-07-22 12:43:00,2052-07-22 13:01:00,2052-07-22 13:55:00
8657,2053-07-22,209,4021059974,8,NaN,0:17,0:41,2053-07-22 13:43:00,2053-07-22 14:00:00,2053-07-22 14:24:00
8658,2054-07-22,460,4021059950,1,NaN,PBH,0:24,2054-07-22 14:30:00,NaT,2054-07-22 14:54:00
8659,2055-07-22,629,4021060298,2,NaN,PBH,2:32,2055-07-22 13:28:00,NaT,2055-07-22 16:00:00
8660,2056-07-22,1117,4021060090,4,NaN,0:14,0:26,2056-07-22 15:46:00,2056-07-22 16:00:00,2056-07-22 16:12:00
8661,2057-07-22,1018,4021055972,1,NaN,0:04,0:24,2057-07-22 16:17:00,2057-07-22 16:21:00,2057-07-22 16:41:00
8662,2058-07-22,1012,4021060162,1,1618 can go,PBH,8:15,2058-07-22 08:23:00,NaT,2058-07-22 16:38:00
8663,2059-07-22,1219,4021060249,2,NaN,0:11,0:24,2059-07-22 16:09:00,2059-07-22 16:20:00,2059-07-22 16:33:00
8664,2060-07-22,1112,4021059840,1,NaN,0:04,0:31,2060-07-22 17:09:00,2060-07-22 17:13:00,2060-07-22 17:40:00
8665,2061-07-22,214,4021060567,2,1722 can go,0:05,2:01,2061-07-22 15:37:00,2061-07-22 15:42:00,2061-07-22 17:38:00
8666,2062-07-22,916,4021040408,1,NaN,0:06,0:22,2062-07-22 17:38:00,2062-07-22 17:44:00,2062-07-22 18:00:00
8667,2063-07-22,p05,4021059549,5,NaN,0:08,0:28,2063-07-22 17:40:00,2063-07-22 17:48:00,2063-07-22 18:08:00
8668,2064-07-22,1106,4021059852,1,NaN,0:02,0:17,2064-07-22 18:14:00,2064-07-22 18:16:00,2064-07-22 18:31:00
8669,2065-07-22,213,4021060598,3,1845 can go,0:07,1:52,2065-07-22 17:08:00,2065-07-22 17:15:00,2065-07-22 19:00:00
8670,2066-07-22,213,4021060475,2,NaN,0:04,0:16,2066-07-22 18:39:00,2066-07-22 18:43:00,2066-07-22 18:55:00
8671,2067-07-22,1018,4021059972,1,NaN,0:04,0:41,2067-07-22 17:34:00,2067-07-22 17:38:00,2067-07-22 18:15:00
8672,2068-07-22,606,4021060615,4,can go at 1915,0:14,1:01,2068-07-22 18:30:00,2068-07-22 18:44:00,2068-07-22 19:31:00

In [38]:
df.loc[8626:8673, 'Date'] = '2021-07-22'
df['Date'] = pd.to_datetime(df['Date']) # change back to datetime format from obj

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15512 entries, 0 to 15521
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15512 non-null  datetime64[ns]
 1   Bed no.                                             15503 non-null  object
 2   Case Number                                         15512 non-null  object
 3   No. of Drugs                                        15512 non-null  object
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15512 non-null  object
 6   Time Taken to Reach Pt (mins)                       15512 non-null  object
 7   DateTime TTO Received                               15512 non-null  datetime64[ns]
 8   DateTime TTO Packing                                11622 non-null  datetime64[ns]
 9   DateTime TTO Dispensed                              15502 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(6)
memory usage: 1.9+ MB

In [40]:
df.loc[8619:8669]

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed
8619,2021-07-21,215,4021060153,2,NaN,0:06,0:33,2021-07-21 16:53:00,2021-07-21 16:59:00,2021-07-21 17:26:00
8620,2021-07-21,613,4021059880,3,can go at 1720,0:04,1:15,2021-07-21 16:16:00,2021-07-21 16:20:00,2021-07-21 17:31:00
8621,2021-07-21,468,4021060222,1,NaN,0:08,0:17,2021-07-21 17:37:00,2021-07-21 17:45:00,2021-07-21 17:54:00
8622,2021-07-21,604,4021059617,4,1729 can go,0:20,4:05,2021-07-21 13:50:00,2021-07-21 14:10:00,2021-07-21 17:55:00
8623,2021-07-21,1006,4021060165,2,NaN,0:06,0:17,2021-07-21 18:43:00,2021-07-21 18:49:00,2021-07-21 19:00:00
8624,2021-07-21,p03,4021060107,4,NaN,0:00,0:19,2021-07-21 19:22:00,2021-07-21 19:22:00,2021-07-21 19:41:00
8625,2021-07-22,912,4021051742,5,NaN,0:09,0:35,2021-07-22 08:15:00,2021-07-22 08:24:00,2021-07-22 08:50:00
8626,2021-07-22,824,4021055919,11,NaN,PBH,0:17,2022-07-22 08:53:00,NaT,2022-07-22 09:10:00
8627,2021-07-22,612,4021059316,4,paeds relabel,0:13,0:49,2023-07-22 08:21:00,2023-07-22 08:34:00,2023-07-22 09:10:00
8628,2021-07-22,920,4021035651,2,NaN,PBH,0:27,2024-07-22 08:44:00,NaT,2024-07-22 09:11:00
8629,2021-07-22,921,4021050039,3,NaN,0:14,0:42,2025-07-22 08:32:00,2025-07-22 08:46:00,2025-07-22 09:14:00
8630,2021-07-22,1020,4021059853,6,NaN,0:35,0:54,2026-07-22 08:36:00,2026-07-22 09:11:00,2026-07-22 09:30:00
8631,2021-07-22,214,4021059893,1,NaN,PBH,0:41,2027-07-22 09:17:00,NaT,2027-07-22 09:58:00
8632,2021-07-22,817,4021059498,1,NaN,0:11,0:20,2028-07-22 09:15:00,2028-07-22 09:26:00,2028-07-22 09:35:00
8633,2021-07-22,814,4021059839,5,NaN,PBH,0:31,2029-07-22 09:09:00,NaT,2029-07-22 09:40:00
8634,2021-07-22,1022,4021058893,2,NaN,0:21,0:41,2030-07-22 08:49:00,2030-07-22 09:10:00,2030-07-22 09:30:00
8635,2021-07-22,616,4021058545,6,awiting stocks,PBH,1:08,2031-07-22 08:52:00,NaT,2031-07-22 10:00:00
8636,2021-07-22,630,4021059494,3,paeds relabel,PBH,1:04,2032-07-22 08:36:00,NaT,2032-07-22 09:40:00
8637,2021-07-22,628,4021059014,7,paeds relabel,PBH,1:14,2033-07-22 08:36:00,NaT,2033-07-22 09:50:00
8638,2021-07-22,480,4021055182,1,NaN,0:04,0:22,2034-07-22 09:49:00,2034-07-22 09:53:00,2034-07-22 10:11:00
8639,2021-07-22,1226,4021058823,2,aw CD Rx,0:23,0:51,2035-07-22 09:09:00,2035-07-22 09:32:00,2035-07-22 10:00:00
8640,2021-07-22,P08,4021058600,3,NaN,0:25,0:42,2036-07-22 09:23:00,2036-07-22 09:48:00,2036-07-22 10:05:00
8641,2021-07-22,731,4021060024,1,NaN,0:26,0:46,2037-07-22 09:24:00,2037-07-22 09:50:00,2037-07-22 10:10:00
8642,2021-07-22,206,4021055094,3,NaN,PBH,0:16,2038-07-22 10:14:00,NaT,2038-07-22 10:30:00
8643,2021-07-22,825,4021059928,2,a/w stock for gaviscon advance,1:44,2:14,2039-07-22 08:16:00,2039-07-22 10:00:00,2039-07-22 10:30:00
8644,2021-07-22,804,4021059744,2,NaN,0:16,1:01,2040-07-22 09:34:00,2040-07-22 09:50:00,2040-07-22 10:35:00
8645,2021-07-22,612,4021059316,1,"paeds relabel, 2nd TTO",0:18,1:07,2041-07-22 09:28:00,2041-07-22 09:46:00,2041-07-22 10:35:00
8646,2021-07-22,204,4021058377,5,NaN,0:15,0:37,2042-07-22 10:10:00,2042-07-22 10:25:00,2042-07-22 10:47:00
8647,2021-07-22,1221,4021060001,3,NaN,0:21,1:29,2043-07-22 09:21:00,2043-07-22 09:42:00,2043-07-22 10:50:00
8648,2021-07-22,1210,4021057590,3,intervention,0:04,2:04,2044-07-22 08:36:00,2044-07-22 08:40:00,2044-07-22 10:40:00
8649,2021-07-22,1204,4021058678,5,NaN,0:12,0:55,2045-07-22 09:45:00,2045-07-22 09:57:00,2045-07-22 10:40:00
8650,2021-07-22,812,4021059897,1,NaN,0:13,0:21,2046-07-22 10:37:00,2046-07-22 10:50:00,2046-07-22 10:58:00
8651,2021-07-22,615,4021060362,2,NaN,0:12,0:22,2047-07-22 10:48:00,2047-07-22 11:00:00,2047-07-22 11:10:00
8652,2021-07-22,467,4021059665,3,NaN,0:05,0:35,2048-07-22 11:10:00,2048-07-22 11:15:00,2048-07-22 11:45:00
8653,2021-07-22,463,4021049044,1,give at 1220,0:34,1:08,2049-07-22 11:26:00,2049-07-22 12:00:00,2049-07-22 12:34:00
8654,2021-07-22,623,4021060407,3,NaN,0:21,0:26,2050-07-22 12:19:00,2050-07-22 12:40:00,2050-07-22 12:45:00
8655,2021-07-22,1217,4021059917,3,NaN,0:08,0:22,2051-07-22 12:51:00,2051-07-22 12:59:00,2051-07-22 13:13:00
8656,2021-07-22,304,4021055441,10,"2nd script ordered at 1348, intervention",0:18,1:12,2052-07-22 12:43:00,2052-07-22 13:01:00,2052-07-22 13:55:00
8657,2021-07-22,209,4021059974,8,NaN,0:17,0:41,2053-07-22 13:43:00,2053-07-22 14:00:00,2053-07-22 14:24:00
8658,2021-07-22,460,4021059950,1,NaN,PBH,0:24,2054-07-22 14:30:00,NaT,2054-07-22 14:54:00
8659,2021-07-22,629,4021060298,2,NaN,PBH,2:32,2055-07-22 13:28:00,NaT,2055-07-22 16:00:00
8660,2021-07-22,1117,4021060090,4,NaN,0:14,0:26,2056-07-22 15:46:00,2056-07-22 16:00:00,2056-07-22 16:12:00
8661,2021-07-22,1018,4021055972,1,NaN,0:04,0:24,2057-07-22 16:17:00,2057-07-22 16:21:00,2057-07-22 16:41:00
8662,2021-07-22,1012,4021060162,1,1618 can go,PBH,8:15,2058-07-22 08:23:00,NaT,2058-07-22 16:38:00
8663,2021-07-22,1219,4021060249,2,NaN,0:11,0:24,2059-07-22 16:09:00,2059-07-22 16:20:00,2059-07-22 16:33:00
8664,2021-07-22,1112,4021059840,1,NaN,0:04,0:31,2060-07-22 17:09:00,2060-07-22 17:13:00,2060-07-22 17:40:00
8665,2021-07-22,214,4021060567,2,1722 can go,0:05,2:01,2061-07-22 15:37:00,2061-07-22 15:42:00,2061-07-22 17:38:00
8666,2021-07-22,916,4021040408,1,NaN,0:06,0:22,2062-07-22 17:38:00,2062-07-22 17:44:00,2062-07-22 18:00:00
8667,2021-07-22,p05,4021059549,5,NaN,0:08,0:28,2063-07-22 17:40:00,2063-07-22 17:48:00,2063-07-22 18:08:00
8668,2021-07-22,1106,4021059852,1,NaN,0:02,0:17,2064-07-22 18:14:00,2064-07-22 18:16:00,2064-07-22 18:31:00
8669,2021-07-22,213,4021060598,3,1845 can go,0:07,1:52,2065-07-22 17:08:00,2065-07-22 17:15:00,2065-07-22 19:00:00

In [41]:
df.isnull().sum()

Date                                                      0
Bed no.                                                   9
Case Number                                               0
No. of Drugs                                              0
Comments (for delayed cases) (eg. Pt sleeping etc)    11658
Time Taken To Pack (mins)                                 0
Time Taken to Reach Pt (mins)                             0
DateTime TTO Received                                     0
DateTime TTO Packing                                   3890
DateTime TTO Dispensed                                   10
dtype: int64

## EDA

### Day of Week

In [42]:
df['Weekday'] = df['Date'].dt.day_name()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15512 entries, 0 to 15521
Data columns (total 11 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15512 non-null  datetime64[ns]
 1   Bed no.                                             15503 non-null  object
 2   Case Number                                         15512 non-null  object
 3   No. of Drugs                                        15512 non-null  object
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15512 non-null  object
 6   Time Taken to Reach Pt (mins)                       15512 non-null  object
 7   DateTime TTO Received                               15512 non-null  datetime64[ns]
 8   DateTime TTO Packing                                11622 non-null  datetime64[ns]
 9   DateTime TTO Dispensed                              15502 non-null  datetime64[ns]
 10  Weekday                                             15512 non-null  object
dtypes: datetime64[ns](4), object(7)
memory usage: 2.0+ MB

### Overall Time Taken

Get the minutes from Time Taken To Pack (mins) & Time Taken to Reach Pt (mins)

In [44]:
#df_filtered = df[df['Time Taken to Reach Pt (mins)'] == 'PBH']
#df_filtered

In [45]:
tto_received = pd.to_datetime(df['DateTime TTO Received'].astype(str)) 
tto_dispensed = pd.to_datetime(df[df['Time Taken to Reach Pt (mins)'] != '']['DateTime TTO Dispensed'].astype(str))

#df[df['Time Taken to Reach Pt (mins)'] == 'PBH']
df['TAT'] = tto_dispensed.sub(tto_received).dt.total_seconds().div(60)
df

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15517,2021-12-31,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0
15518,2021-12-31,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00,Friday,12.0
15519,2021-12-31,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0
15520,2021-12-31,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0
15521,2021-12-31,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0

In [46]:
#df[df['Time Taken to Reach Pt (mins)'] != 'NA']['Time TTO Dispensed']

### Meet KPI

MNH: Total Time Taken < 25mins = Yes, else: No

In [47]:
def f(row):
    if row['TAT'] > 25:
        val = 'No'
    elif row['TAT'] > 0 and row['TAT'] <= 25:
        val = 'Yes'
    else:
        val = 'NA'
    return val

In [48]:
df['Meet KPI'] = df.apply(f, axis=1)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
df

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0,Yes
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN,NA
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15517,2021-12-31,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0,Yes
15518,2021-12-31,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00,Friday,12.0,Yes
15519,2021-12-31,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0,No
15520,2021-12-31,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0,No
15521,2021-12-31,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0,Yes

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15512 entries, 0 to 15521
Data columns (total 13 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15512 non-null  datetime64[ns]
 1   Bed no.                                             15503 non-null  object
 2   Case Number                                         15512 non-null  object
 3   No. of Drugs                                        15512 non-null  object
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15512 non-null  object
 6   Time Taken to Reach Pt (mins)                       15512 non-null  object
 7   DateTime TTO Received                               15512 non-null  datetime64[ns]
 8   DateTime TTO Packing                                11622 non-null  datetime64[ns]
 9   DateTime TTO Dispensed                              15502 non-null  datetime64[ns]
 10  Weekday                                             15512 non-null  object
 11  TAT                                                 15502 non-null  float64
 12  Meet KPI                                            15512 non-null  object
dtypes: datetime64[ns](4), float64(1), object(8)
memory usage: 2.3+ MB

### Office Hours

Standard Office Hours: 8:00AM to 8:00PM

In [51]:
#df["Time TTO Received"]  = pd.to_datetime(df["Time TTO Received"] , infer_datetime_format=True, errors='coerce')
#df["Time TTO Packing"]  = pd.to_datetime(df["Time TTO Packing"] , infer_datetime_format=True, errors='coerce')
#df["Time TTO Dispensed"]  = pd.to_datetime(df["Time TTO Dispensed"] , infer_datetime_format=True, errors='coerce')

In [52]:
#df["Time TTO Received"]  = df['Time TTO Received'].dt.time
#df["Time TTO Packing"]  = df['Time TTO Packing'].dt.time
#df["Time TTO Dispensed"]  = df['Time TTO Dispensed'].dt.time

In [53]:
df['Office Hours'] = np.where(df['DateTime TTO Received'].isnull() | df['DateTime TTO Dispensed'].isnull() , 'NA', 
                            (np.where(( #(df['Time TTO Received'] >= pd.to_datetime('08:00:00').time()) & 
                                        (df['DateTime TTO Dispensed'].dt.time <= pd.to_datetime('20:00:00').time())),
                                        'Yes', 'No')))

df

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0,Yes,Yes
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN,NA,NA
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15517,2021-12-31,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0,Yes,Yes
15518,2021-12-31,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00,Friday,12.0,Yes,Yes
15519,2021-12-31,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0,No,Yes
15520,2021-12-31,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0,No,Yes
15521,2021-12-31,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0,Yes,Yes

### Average Time Taken from (Received to Packing) & (Packing to Dispensed)

In [54]:
#Get Duration Difference of Received to Checked
#df['Time Taken (Received to Packing)'] = (pd.to_datetime(df['DateTime TTO Packing'].astype(str)) - pd.to_datetime(df['DateTime TTO Received'].astype(str))).dt.total_seconds().div(60)
#Get Duration Difference of Checked to Dispensed
#df['Time Taken (Packing to Dispensed)'] = (pd.to_datetime(df['DateTime TTO Dispensed'].astype(str)) - pd.to_datetime(df['DateTime TTO Packing'].astype(str))).dt.total_seconds().div(60)

In [55]:
#Get Duration Difference of Received to Checked
df['Time Taken (Received to Packing)'] = (df['DateTime TTO Packing'] - df['DateTime TTO Received'])
#Get Duration Difference of Checked to Dispensed
df['Time Taken (Packing to Dispensed)']  = (df['DateTime TTO Dispensed'] - df['DateTime TTO Packing'])

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [56]:
#Create new dataframe to get results of Average Time Taken for each (Received to Checked) & (Checked to Dispensed)
df_avg_time = df[['Date', 'Time Taken (Received to Packing)', 'Time Taken (Packing to Dispensed)']]
df_avg_time.head()

,Date,Time Taken (Received to Packing),Time Taken (Packing to Dispensed)
0,2021-01-01,NaT,NaT
1,2021-01-01,-1 days +23:46:00,NaT
2,2021-01-01,0 days 00:04:00,0 days 00:15:00
3,2021-01-01,0 days 00:01:00,0 days 00:14:00
4,2021-01-01,0 days 00:07:00,0 days 01:12:00

In [57]:
#Convert NaT to 00:00:00
df_avg_time.loc[df_avg_time['Time Taken (Received to Packing)'].isnull(), 'Time Taken (Received to Packing)'] = pd.to_timedelta(0)
df_avg_time.loc[df_avg_time['Time Taken (Packing to Dispensed)'].isnull(), 'Time Taken (Packing to Dispensed)'] = pd.to_timedelta(0)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [58]:
df_avg_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15512 entries, 0 to 15521
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               15512 non-null  datetime64[ns]
 1   Time Taken (Received to Packing)   15512 non-null  timedelta64[ns]
 2   Time Taken (Packing to Dispensed)  15512 non-null  timedelta64[ns]
dtypes: datetime64[ns](1), timedelta64[ns](2)
memory usage: 1.1 MB

In [59]:
#Get average time taken per day
df_avg_time = df_avg_time.groupby(pd.to_datetime(df_avg_time['Date']).dt.date).mean(numeric_only=False)
df_avg_time

,Date,Time Taken (Received to Packing),Time Taken (Packing to Dispensed)
Date,,,
2021-01-01,2021-01-01,0 days 00:09:58.571428571,0 days 00:35:21.428571428
2021-01-02,2021-01-02,0 days 00:08:56.326530612,0 days 00:22:40.408163265
2021-01-03,2021-01-03,0 days 00:06:07.058823529,0 days 00:15:54.705882352
2021-01-04,2021-01-04,0 days 00:12:26.557377049,0 days 00:14:51.147540983
2021-01-10,2021-01-10,0 days 00:09:28.750000,0 days 00:26:10
...,...,...,...
2021-12-27,2021-12-27,0 days 00:06:41.379310344,0 days 00:35:18.620689655
2021-12-28,2021-12-28,0 days 00:05:52.307692307,0 days 00:24:58.461538461
2021-12-29,2021-12-29,0 days 00:20:54.666666666,0 days 00:19:28
2021-12-30,2021-12-30,-1 days +23:49:30.476190477,0 days 00:50:53.333333333
2021-12-31,2021-12-31,0 days 00:07:00,0 days 00:26:58.636363636

In [60]:
#Rename Columns
#df_avg_time = df_avg_time.rename({'Time Taken (Received to Packing)' : 'Avg Time Taken / Day (Received to Packing)', 'Time Taken (Packing to Dispensed)' : 'Avg Time Taken / Day (Packing to Dispensed)'}, axis=1)

In [61]:
df_avg_time = df_avg_time.reset_index(drop=True)
df_avg_time

,Date,Time Taken (Received to Packing),Time Taken (Packing to Dispensed)
0,2021-01-01,0 days 00:09:58.571428571,0 days 00:35:21.428571428
1,2021-01-02,0 days 00:08:56.326530612,0 days 00:22:40.408163265
2,2021-01-03,0 days 00:06:07.058823529,0 days 00:15:54.705882352
3,2021-01-04,0 days 00:12:26.557377049,0 days 00:14:51.147540983
4,2021-01-10,0 days 00:09:28.750000,0 days 00:26:10
...,...,...,...
334,2021-12-27,0 days 00:06:41.379310344,0 days 00:35:18.620689655
335,2021-12-28,0 days 00:05:52.307692307,0 days 00:24:58.461538461
336,2021-12-29,0 days 00:20:54.666666666,0 days 00:19:28
337,2021-12-30,-1 days +23:49:30.476190477,0 days 00:50:53.333333333
338,2021-12-31,0 days 00:07:00,0 days 00:26:58.636363636

In [62]:
#Remove miliseconds
df_avg_time['Time Taken (Received to Packing)'] = df_avg_time['Time Taken (Received to Packing)'].dt.floor('s')
df_avg_time['Time Taken (Packing to Dispensed)'] = df_avg_time['Time Taken (Packing to Dispensed)'].dt.floor('s')

df_avg_time

,Date,Time Taken (Received to Packing),Time Taken (Packing to Dispensed)
0,2021-01-01,0 days 00:09:58,0 days 00:35:21
1,2021-01-02,0 days 00:08:56,0 days 00:22:40
2,2021-01-03,0 days 00:06:07,0 days 00:15:54
3,2021-01-04,0 days 00:12:26,0 days 00:14:51
4,2021-01-10,0 days 00:09:28,0 days 00:26:10
...,...,...,...
334,2021-12-27,0 days 00:06:41,0 days 00:35:18
335,2021-12-28,0 days 00:05:52,0 days 00:24:58
336,2021-12-29,0 days 00:20:54,0 days 00:19:28
337,2021-12-30,-1 days +23:49:30,0 days 00:50:53
338,2021-12-31,0 days 00:07:00,0 days 00:26:58

In [63]:
#Rename Columns
df_avg_time = df_avg_time.rename({'Time Taken (Received to Packing)' : 'Avg Time Taken / Day (Received to Packing)', 'Time Taken (Packing to Dispensed)' : 'Avg Time Taken / Day (Packing to Dispensed)'}, axis=1)

In [64]:
#Merge the results from grouby for Avg Time Taken
df = df.merge(df_avg_time, on='Date', how='left')
df

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed)
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:09:58,0 days 00:35:21
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN,NA,NA,-1 days +23:46:00,NaT,0 days 00:09:58,0 days 00:35:21
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00,0 days 00:15:00,0 days 00:09:58,0 days 00:35:21
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00,0 days 00:14:00,0 days 00:09:58,0 days 00:35:21
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00,0 days 01:12:00,0 days 00:09:58,0 days 00:35:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15507,2021-12-31,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0,Yes,Yes,0 days 00:00:00,0 days 00:10:00,0 days 00:07:00,0 days 00:26:58
15508,2021-12-31,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:07:00,0 days 00:26:58
15509,2021-12-31,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0,No,Yes,0 days 00:09:00,0 days 00:17:00,0 days 00:07:00,0 days 00:26:58
15510,2021-12-31,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0,No,Yes,0 days 00:10:00,0 days 00:32:00,0 days 00:07:00,0 days 00:26:58
15511,2021-12-31,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0,Yes,Yes,0 days 00:05:00,0 days 00:20:00,0 days 00:07:00,0 days 00:26:58

In [65]:
#Replace 00:00:00 in time columns with np.NaN
columns = ['Time Taken (Received to Packing)', 
               'Time Taken (Packing to Dispensed)', 
               "Avg Time Taken / Day (Received to Packing)", 
               "Avg Time Taken / Day (Packing to Dispensed)"]


for column in columns:
    df[column] = df[column].replace(pd.Timedelta(0), np.NaN)

### Average time taken per month

In [87]:
df['Month']= pd.to_datetime(df['Date']).dt.month_name()

In [91]:
dfinal_avg_time = df[['Date', 'Time Taken (Received to Packing)', 'Time Taken (Packing to Dispensed)']]

dfinal_avg_time['Month']= pd.to_datetime(dfinal_avg_time['Date']).dt.month_name()

#Get average time taken per month
dfinal_avg_time= dfinal_avg_time.groupby('Month').agg({'Time Taken (Received to Packing)': np.sum, 'Time Taken (Packing to Dispensed)': np.sum})

x = dfinal_avg_time['Time Taken (Received to Packing)'] / np.timedelta64(1, 'm')
y = df.groupby('Month')['Time Taken (Received to Packing)'].count()

dfinal_avg_time['Avg Time Taken / Month (Received to Packing)'] = (x/y)

dfinal_avg_time['Avg Time Taken / Month (Received to Packing)'] = pd.to_datetime(dfinal_avg_time['Avg Time Taken / Month (Received to Packing)'], unit='m').apply(lambda x: x.strftime("%H:%M:%S"))

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [93]:
a = dfinal_avg_time['Time Taken (Packing to Dispensed)'] / np.timedelta64(1, 'm')
b = df.groupby('Month')['Time Taken (Packing to Dispensed)'].count()

dfinal_avg_time['Avg Time Taken / Month (Packing to Dispensed)'] = (a/b)

dfinal_avg_time['Avg Time Taken / Month (Packing to Dispensed)'] = pd.to_datetime(dfinal_avg_time['Avg Time Taken / Month (Packing to Dispensed)'], unit='m').apply(lambda x: x.strftime("%H:%M:%S"))

In [94]:
dfinal_avg_time = dfinal_avg_time.drop(dfinal_avg_time.columns[[0, 1]], axis=1)

In [97]:
df = df.merge(dfinal_avg_time, on='Month', how='left')
df

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Time Taken to Pack,Month,Avg Time Taken / Month (Received to Packing),Avg Time Taken / Month (Packing to Dispensed)
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:09:58,0 days 00:35:21,PBH,January,00:18:59,00:39:03
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN,NA,NA,-1 days +23:46:00,NaT,0 days 00:09:58,0 days 00:35:21,PBH,January,00:18:59,00:39:03
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00,0 days 00:15:00,0 days 00:09:58,0 days 00:35:21,4,January,00:18:59,00:39:03
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00,0 days 00:14:00,0 days 00:09:58,0 days 00:35:21,1,January,00:18:59,00:39:03
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00,0 days 01:12:00,0 days 00:09:58,0 days 00:35:21,7,January,00:18:59,00:39:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15507,2021-12-31,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0,Yes,Yes,NaT,0 days 00:10:00,0 days 00:07:00,0 days 00:26:58,0,December,00:13:33,00:38:24
15508,2021-12-31,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:07:00,0 days 00:26:58,PBH,December,00:13:33,00:38:24
15509,2021-12-31,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0,No,Yes,0 days 00:09:00,0 days 00:17:00,0 days 00:07:00,0 days 00:26:58,9,December,00:13:33,00:38:24
15510,2021-12-31,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0,No,Yes,0 days 00:10:00,0 days 00:32:00,0 days 00:07:00,0 days 00:26:58,10,December,00:13:33,00:38:24
15511,2021-12-31,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0,Yes,Yes,0 days 00:05:00,0 days 00:20:00,0 days 00:07:00,0 days 00:26:58,5,December,00:13:33,00:38:24

In [98]:
df['Avg Time Taken / Month (Received to Packing)'] = pd.to_timedelta(df['Avg Time Taken / Month (Received to Packing)'])
df['Avg Time Taken / Month (Packing to Dispensed)'] = pd.to_timedelta(df['Avg Time Taken / Month (Packing to Dispensed)'])

#### Create new column for time taken to pack for histogram chart

In [99]:
tto_received = pd.to_datetime(df['DateTime TTO Received'].astype(str)) 
tto_packing = pd.to_datetime(df[df['DateTime TTO Packing'] != '']['DateTime TTO Packing'].astype(str))

#df[df['Time Taken to Reach Pt (mins)'] == 'PBH']
df['Time Taken to Pack'] = tto_packing.sub(tto_received).dt.total_seconds().div(60)

replace those with negative value to empty since it is PBH

In [100]:
df['Time Taken to Pack'] = df['Time Taken to Pack'].apply(lambda x : x if x >= 0 else np.nan)

In [101]:
df['Time Taken to Pack'].mask( df['Time Taken To Pack (mins)'] == 'PBH', 'PBH' , inplace=True )

In [102]:
df

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Time Taken to Pack,Month,Avg Time Taken / Month (Received to Packing),Avg Time Taken / Month (Packing to Dispensed)
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:09:58,0 days 00:35:21,PBH,January,0 days 00:18:59,0 days 00:39:03
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN,NA,NA,-1 days +23:46:00,NaT,0 days 00:09:58,0 days 00:35:21,PBH,January,0 days 00:18:59,0 days 00:39:03
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00,0 days 00:15:00,0 days 00:09:58,0 days 00:35:21,4,January,0 days 00:18:59,0 days 00:39:03
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00,0 days 00:14:00,0 days 00:09:58,0 days 00:35:21,1,January,0 days 00:18:59,0 days 00:39:03
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00,0 days 01:12:00,0 days 00:09:58,0 days 00:35:21,7,January,0 days 00:18:59,0 days 00:39:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15507,2021-12-31,824,4021107656,1,add on TTO,0:00,0:10,2021-12-31 13:00:00,2021-12-31 13:00:00,2021-12-31 13:10:00,Friday,10.0,Yes,Yes,NaT,0 days 00:10:00,0 days 00:07:00,0 days 00:26:58,0,December,0 days 00:13:33,0 days 00:38:24
15508,2021-12-31,1205,4021107518,1,NaN,PBH,0:12,2021-12-31 13:35:00,NaT,2021-12-31 13:47:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:07:00,0 days 00:26:58,PBH,December,0 days 00:13:33,0 days 00:38:24
15509,2021-12-31,1131,4021107644,3,NaN,0:09,0:26,2021-12-31 14:08:00,2021-12-31 14:17:00,2021-12-31 14:34:00,Friday,26.0,No,Yes,0 days 00:09:00,0 days 00:17:00,0 days 00:07:00,0 days 00:26:58,9,December,0 days 00:13:33,0 days 00:38:24
15510,2021-12-31,622,4021108689,2,1431 pt in bathroom,0:10,0:42,2021-12-31 13:59:00,2021-12-31 14:09:00,2021-12-31 14:41:00,Friday,42.0,No,Yes,0 days 00:10:00,0 days 00:32:00,0 days 00:07:00,0 days 00:26:58,10,December,0 days 00:13:33,0 days 00:38:24
15511,2021-12-31,609,4021108267,4,NaN,0:05,0:25,2021-12-31 16:20:00,2021-12-31 16:25:00,2021-12-31 16:45:00,Friday,25.0,Yes,Yes,0 days 00:05:00,0 days 00:20:00,0 days 00:07:00,0 days 00:26:58,5,December,0 days 00:13:33,0 days 00:38:24

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15512 entries, 0 to 15511
Data columns (total 22 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                15512 non-null  datetime64[ns]
 1   Bed no.                                             15503 non-null  object
 2   Case Number                                         15512 non-null  object
 3   No. of Drugs                                        15512 non-null  object
 4   Comments (for delayed cases) (eg. Pt sleeping etc)  3854 non-null   object
 5   Time Taken To Pack (mins)                           15512 non-null  object
 6   Time Taken to Reach Pt (mins)                       15512 non-null  object
 7   DateTime TTO Received                               15512 non-null  datetime64[ns]
 8   DateTime TTO Packing                                11622 non-null  datetime64[ns]
 9   DateTime TTO Dispensed                              15502 non-null  datetime64[ns]
 10  Weekday                                             15512 non-null  object
 11  TAT                                                 15502 non-null  float64
 12  Meet KPI                                            15512 non-null  object
 13  Office Hours                                        15512 non-null  object
 14  Time Taken (Received to Packing)                    11598 non-null  timedelta64[ns]
 15  Time Taken (Packing to Dispensed)                   11611 non-null  timedelta64[ns]
 16  Avg Time Taken / Day (Received to Packing)          15512 non-null  timedelta64[ns]
 17  Avg Time Taken / Day (Packing to Dispensed)         15512 non-null  timedelta64[ns]
 18  Time Taken to Pack                                  15465 non-null  object
 19  Month                                               15512 non-null  object
 20  Avg Time Taken / Month (Received to Packing)        15512 non-null  timedelta64[ns]
 21  Avg Time Taken / Month (Packing to Dispensed)       15512 non-null  timedelta64[ns]
dtypes: datetime64[ns](4), float64(1), object(11), timedelta64[ns](6)
memory usage: 2.7+ MB

In [104]:
#df[["Time TTO Received", "Time TTO Dispensed"]] = df[["Time TTO Received", "Time TTO Dispensed"]].apply(pd.to_datetime(format='%H:%M') - pd.to_datetime(format='%H:%M').dt.normalize())

In [105]:
#df["Time TTO Received"] = pd.to_datetime(df["Time TTO Received"],format= '%H:%M:%S')
#df["Time TTO Received"] =df["Time TTO Received"].strptime('%d-%b-%y %I.%M.%S.%f %p')
#df["Time TTO Received"] = pd.to_timedelta(df["Time TTO Received"].dt.strftime('%H:%M:%S'))

In [106]:
#df["Time TTO Received"]  = pd.to_datetime(df["Time TTO Received"], format='%H:%M') - pd.to_datetime(df["Time TTO Received"], format='%H:%M').dt.normalize()

In [107]:
#df["Time TTO Received"] = pd.Series([pd.Timedelta(minutes=i) for i in range(0,100,5)])
#df["Time TTO Received"]= df["Time TTO Received"].astype(str).str.split('0 days ').str[-1]

In [108]:
#df["Time TTO Received"]  = pd.to_datetime(df["Time TTO Received"] , errors='coerce')

### Ward

Match Bed No. to the corresponding Ward No.

#### Combining Excel Tabs for MNH Ward Dataset

In [109]:
f_ward = '../../Data/Pharmacy Dept/MNH TTO Data/MNH Wards.xlsx'
df_ward = pd.read_excel(f_ward, sheet_name=None)
dfinal_ward = pd.concat(df_ward, ignore_index=True)

dfinal_ward.head()

  Room No Ward
0     201    2
1     202    2
2     203    2
3     204    2
4     205    2

In [110]:
dfinal_ward.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Room No  393 non-null    object
 1   Ward     393 non-null    object
dtypes: object(2)
memory usage: 6.3+ KB

In [111]:
dfinal_ward

    Room No              Ward
0       201                 2
1       202                 2
2       203                 2
3       204                 2
4       205                 2
..      ...               ...
388   1313N  PenthouseNursery
389   1314N  PenthouseNursery
390   1315N  PenthouseNursery
391   1316N  PenthouseNursery
392   1317N  PenthouseNursery

[393 rows x 2 columns]

In [112]:
dfinal_ward.to_csv("../../Data/Pharmacy Dept/MNH TTO Data/MNH Wards Merged.csv", index=None, header=True)

#### Merge Ward No. based on Bed No.

In [113]:
df_ward = pd.read_csv("../../Data/Pharmacy Dept/MNH TTO Data/MNH Wards Merged.csv")

In [114]:
dfinal = pd.merge(df, df_ward, how='left', left_on=['Bed no.'], right_on=['Room No'])

dfinal.head()

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Time Taken to Pack,Month,Avg Time Taken / Month (Received to Packing),Avg Time Taken / Month (Packing to Dispensed),Room No,Ward
0,2021-01-01,905,4020095917,4,NaN,PBH,0:12,2021-01-01 08:28:00,NaT,2021-01-01 08:40:00,Friday,12.0,Yes,Yes,NaT,NaT,0 days 00:09:58,0 days 00:35:21,PBH,January,0 days 00:18:59,0 days 00:39:03,905,9
1,2021-01-01,1202,4020097017,8,wait for 2nd rx,PBH,,2021-01-01 09:04:00,2021-01-01 08:50:00,NaT,Friday,NaN,NA,NA,-1 days +23:46:00,NaT,0 days 00:09:58,0 days 00:35:21,PBH,January,0 days 00:18:59,0 days 00:39:03,1202,12
2,2021-01-01,1224,4020095632,1,NaN,0:04,0:19,2021-01-01 09:01:00,2021-01-01 09:05:00,2021-01-01 09:20:00,Friday,19.0,Yes,Yes,0 days 00:04:00,0 days 00:15:00,0 days 00:09:58,0 days 00:35:21,4,January,0 days 00:18:59,0 days 00:39:03,1224,12
3,2021-01-01,818,4020097033,1,NaN,0:01,0:15,2021-01-01 09:00:00,2021-01-01 09:01:00,2021-01-01 09:15:00,Friday,15.0,Yes,Yes,0 days 00:01:00,0 days 00:14:00,0 days 00:09:58,0 days 00:35:21,1,January,0 days 00:18:59,0 days 00:39:03,818,8
4,2021-01-01,803,4020097026,1,"can close, added on metformin and glipizide. 1...",0:07,1:19,2021-01-01 09:08:00,2021-01-01 09:15:00,2021-01-01 10:27:00,Friday,79.0,No,Yes,0 days 00:07:00,0 days 01:12:00,0 days 00:09:58,0 days 00:35:21,7,January,0 days 00:18:59,0 days 00:39:03,803,8

In [115]:
dfinal[dfinal['Ward'].isnull()]

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Time Taken to Pack,Month,Avg Time Taken / Month (Received to Packing),Avg Time Taken / Month (Packing to Dispensed),Room No,Ward
34,2021-01-01,0929-cot,4020096671,1,nursery,0:00,1:09,2021-01-01 11:11:00,2021-01-01 11:11:00,2021-01-01 12:20:00,Friday,69.0,No,Yes,NaT,0 days 01:09:00,0 days 00:09:58,0 days 00:35:21,0,January,0 days 00:18:59,0 days 00:39:03,NaN,NaN
47,2021-02-01,P02,4020096518,3,NaN,PBH,0:09,2021-02-01 09:28:00,NaT,2021-02-01 09:37:00,Monday,9.0,Yes,Yes,NaT,NaT,0 days 00:10:53,0 days 00:17:34,PBH,February,0 days 00:17:05,0 days 00:28:59,NaN,NaN
70,2021-03-01,p13,4020095763,4,"do not close, a/w other dr to review",0:16,1:01,2021-03-01 07:24:00,2021-03-01 07:40:00,2021-03-01 08:25:00,Monday,61.0,No,Yes,0 days 00:16:00,0 days 00:45:00,0 days 00:07:14,0 days 00:12:00,16,March,0 days 00:17:52,0 days 00:35:39,NaN,NaN
81,2021-03-01,p13,4020095763,3,"pt showering, ask to come back",PBH,0:25,2021-03-01 10:25:00,NaT,2021-03-01 10:50:00,Monday,25.0,Yes,Yes,NaT,NaT,0 days 00:07:14,0 days 00:12:00,PBH,March,0 days 00:17:52,0 days 00:35:39,NaN,NaN
90,2021-03-01,p14,4020083367,4,NaN,0:11,0:27,2021-03-01 11:23:00,2021-03-01 11:34:00,2021-03-01 11:50:00,Monday,27.0,No,Yes,0 days 00:11:00,0 days 00:16:00,0 days 00:07:14,0 days 00:12:00,11,March,0 days 00:17:52,0 days 00:35:39,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15314,2021-12-27,P16,4021105950,5,NaN,PBH,0:31,2021-12-27 15:33:00,NaT,2021-12-27 16:04:00,Monday,31.0,No,Yes,NaT,NaT,0 days 00:06:41,0 days 00:35:18,PBH,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15387,2021-12-29,4xx,4021100336,1,intervention,0:02,0:07,2021-12-29 13:03:00,2021-12-29 13:05:00,2021-12-29 13:10:00,Wednesday,7.0,Yes,Yes,0 days 00:02:00,0 days 00:05:00,0 days 00:20:54,0 days 00:19:28,2,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15408,2021-12-30,P05,4021106676,6,815 changing dressing,0:05,0:36,2021-12-30 07:49:00,2021-12-30 07:54:00,2021-12-30 08:25:00,Thursday,36.0,No,Yes,0 days 00:05:00,0 days 00:31:00,-1 days +23:49:30,0 days 00:50:53,5,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15437,2021-12-30,p07,4021107289,2,NaN,PBH,0:56,2021-12-30 09:49:00,2021-12-30 01:12:00,2021-12-30 10:45:00,Thursday,56.0,No,Yes,-1 days +15:23:00,0 days 09:33:00,-1 days +23:49:30,0 days 00:50:53,PBH,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15449,2021-12-30,P06,4021107464,3,NaN,0:04,0:16,2021-12-30 13:42:00,2021-12-30 13:46:00,2021-12-30 13:58:00,Thursday,16.0,Yes,Yes,0 days 00:04:00,0 days 00:12:00,-1 days +23:49:30,0 days 00:50:53,4,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN

#### Fix Invalid Bed No.

In [116]:
#fixing values in Bed no. that are actually referring to the Ward, and match its corresponding in the Ward column
dfinal.loc[(dfinal['Bed no.'].str.contains('eye', case=False, na=False)) | (dfinal['Bed no.'].str.contains('edw', case=False)), 'Ward'] = 'Eyedayward'
dfinal.loc[(dfinal['Bed no.'].str.contains('DS', case=False, na=False)), 'Ward'] = 'DS'
dfinal.loc[(dfinal['Bed no.'].str.contains('endo', case=False, na=False)), 'Ward'] = 'Endo'

In [117]:
dfinal[dfinal['Ward'].isnull()]

,Date,Bed no.,Case Number,No. of Drugs,Comments (for delayed cases) (eg. Pt sleeping etc),Time Taken To Pack (mins),Time Taken to Reach Pt (mins),DateTime TTO Received,DateTime TTO Packing,DateTime TTO Dispensed,Weekday,TAT,Meet KPI,Office Hours,Time Taken (Received to Packing),Time Taken (Packing to Dispensed),Avg Time Taken / Day (Received to Packing),Avg Time Taken / Day (Packing to Dispensed),Time Taken to Pack,Month,Avg Time Taken / Month (Received to Packing),Avg Time Taken / Month (Packing to Dispensed),Room No,Ward
34,2021-01-01,0929-cot,4020096671,1,nursery,0:00,1:09,2021-01-01 11:11:00,2021-01-01 11:11:00,2021-01-01 12:20:00,Friday,69.0,No,Yes,NaT,0 days 01:09:00,0 days 00:09:58,0 days 00:35:21,0,January,0 days 00:18:59,0 days 00:39:03,NaN,NaN
47,2021-02-01,P02,4020096518,3,NaN,PBH,0:09,2021-02-01 09:28:00,NaT,2021-02-01 09:37:00,Monday,9.0,Yes,Yes,NaT,NaT,0 days 00:10:53,0 days 00:17:34,PBH,February,0 days 00:17:05,0 days 00:28:59,NaN,NaN
70,2021-03-01,p13,4020095763,4,"do not close, a/w other dr to review",0:16,1:01,2021-03-01 07:24:00,2021-03-01 07:40:00,2021-03-01 08:25:00,Monday,61.0,No,Yes,0 days 00:16:00,0 days 00:45:00,0 days 00:07:14,0 days 00:12:00,16,March,0 days 00:17:52,0 days 00:35:39,NaN,NaN
81,2021-03-01,p13,4020095763,3,"pt showering, ask to come back",PBH,0:25,2021-03-01 10:25:00,NaT,2021-03-01 10:50:00,Monday,25.0,Yes,Yes,NaT,NaT,0 days 00:07:14,0 days 00:12:00,PBH,March,0 days 00:17:52,0 days 00:35:39,NaN,NaN
90,2021-03-01,p14,4020083367,4,NaN,0:11,0:27,2021-03-01 11:23:00,2021-03-01 11:34:00,2021-03-01 11:50:00,Monday,27.0,No,Yes,0 days 00:11:00,0 days 00:16:00,0 days 00:07:14,0 days 00:12:00,11,March,0 days 00:17:52,0 days 00:35:39,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15314,2021-12-27,P16,4021105950,5,NaN,PBH,0:31,2021-12-27 15:33:00,NaT,2021-12-27 16:04:00,Monday,31.0,No,Yes,NaT,NaT,0 days 00:06:41,0 days 00:35:18,PBH,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15387,2021-12-29,4xx,4021100336,1,intervention,0:02,0:07,2021-12-29 13:03:00,2021-12-29 13:05:00,2021-12-29 13:10:00,Wednesday,7.0,Yes,Yes,0 days 00:02:00,0 days 00:05:00,0 days 00:20:54,0 days 00:19:28,2,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15408,2021-12-30,P05,4021106676,6,815 changing dressing,0:05,0:36,2021-12-30 07:49:00,2021-12-30 07:54:00,2021-12-30 08:25:00,Thursday,36.0,No,Yes,0 days 00:05:00,0 days 00:31:00,-1 days +23:49:30,0 days 00:50:53,5,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15437,2021-12-30,p07,4021107289,2,NaN,PBH,0:56,2021-12-30 09:49:00,2021-12-30 01:12:00,2021-12-30 10:45:00,Thursday,56.0,No,Yes,-1 days +15:23:00,0 days 09:33:00,-1 days +23:49:30,0 days 00:50:53,PBH,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN
15449,2021-12-30,P06,4021107464,3,NaN,0:04,0:16,2021-12-30 13:42:00,2021-12-30 13:46:00,2021-12-30 13:58:00,Thursday,16.0,Yes,Yes,0 days 00:04:00,0 days 00:12:00,-1 days +23:49:30,0 days 00:50:53,4,December,0 days 00:13:33,0 days 00:38:24,NaN,NaN

In [118]:
dfinal.drop(['Room No'], axis=1, inplace=True)

### Export CLEANED to csv

In [119]:
dfinal.to_csv("../../Data/Pharmacy Dept/Data Cleaning/MNH_Data_Cleaned.csv", index = None, header=True)